In [1]:
def movie1(name):
    print('영화명: ' + name) # 문자열 간 결합에 사용 가능

In [4]:
movie1('킹덤')
movie1('택시 운전사')
movie1('인터스텔라')

영화명: 킹덤
영화명: 택시 운전사
영화명: 인터스텔라

In [6]:
def movie2(name, genre):
    print('영화명: ' + name)
    print('장르: ' + genre)

In [7]:
movie2('빨간 머리 앤', '드라마')
movie2('종이의 집', '스릴러, 드라마')

영화명: 빨간 머리 앤
장르: 드라마
영화명: 종이의 집
장르: 스릴러, 드라마

In [8]:
def movie3(name, genre, score=0.5): # 인수 기본값 설정
    print('영화명: ' + name)
    print('장  르: ' + genre)
    print('평  점: ' + str(score)) # 실수를 문자열로 변환

In [10]:
movie3('컨저링1', '퇴마')
movie3('컨저링2', '퇴마', 4.5)

영화명: 컨저링1
장  르: 퇴마
평  점: 0.5
영화명: 컨저링2
장  르: 퇴마
평  점: 4.5

In [11]:
def movie4(name, time, genre):
    print('영화명: ' + name)
    print('시간: ' + str(time))
    print('장르: ' + genre)

In [14]:
movie4('인턴', 120, '드라마')
movie4(name='업사이드', genre='휴먼', time=100) # 특이한 문법, 파라미터의 순서가 달라도 에러가 나지 않는다.

영화명: 인턴
시간: 120
장르: 드라마
영화명: 업사이드
시간: 100
장르: 휴먼

In [15]:
def movie5(*actors):  # tuple, 가변인자 처리
    print(type(actors))
    print(actors)

movie5('안시성', '조인성', '김태리')
movie5('맘마미아', '피어스브로스넌', '메릴스트립', '아만다 사이프리드')

<class 'tuple'>
('안시성', '조인성', '김태리')
<class 'tuple'>
('맘마미아', '피어스브로스넌', '메릴스트립', '아만다 사이프리드')

In [16]:
def movie6(movie, *actors):  # tuple, 가변인자 처리
    print(type(actors))
    print(movie)    
    print(actors)

movie6('안시성', '조인성', '김태리')
movie6('맘마미아', '피어스브로스넌', '메릴스트립', '아만다 사이프리드')

<class 'tuple'>
안시성
('조인성', '김태리')
<class 'tuple'>
맘마미아
('피어스브로스넌', '메릴스트립', '아만다 사이프리드')

In [17]:
def movie7(movie, **actors):  # 고정과 가변인자 병합 처리
    print(type(actors))
    print(movie)
    print(actors)  # Dictionary

movie7('인터스텔라', actor1='맥커너희', actor2='앤 헤서웨이', actor3='마이클 케인')

<class 'dict'>
인터스텔라
{'actor1': '맥커너희', 'actor2': '앤 헤서웨이', 'actor3': '마이클 케인'}

In [19]:
# 메소드 안에 있으면 지역변수
# 메소드 바깥에 있으면 전역변수
str1 = '전역 변수'

def fun1():
    str1 = '지역 변수'
    print(str1)

In [20]:
fun1()
print('str1:', str1)

지역 변수
str1: 전역 변수

In [21]:
def fun2():
    global str1  # 전역변수를 사용, c.f. 자바에서는 this를 이용했지만
    str1 = '지역 변수값 적용'
    print(str1)

In [22]:
fun2() # 함수 바깥에 접근하여 값을 바꿔버림
print('str1:', str1)

지역 변수값 적용
str1: 지역 변수값 적용

In [23]:
# 함수 안에 같은 이름의 지역변수가 없으므로 
# 바깥에 있는 전역 변수를 사용함
def func3():
    print(str1)

In [24]:
func3()

지역 변수값 적용

In [25]:
def maxno(x, y): # x, y: 지역 변수
    if x > y:
        return x
    else:
        return y

In [26]:
su = maxno(100,200)
print(type(su))
print(su)

<class 'int'>
200

In [27]:
def season(month):
    season=''
    if month == 1:
        season='January'
    elif month == 2:
        season='February'
    elif month == 3:
        season="March"
    else:
        season="Only input 1 ~ 3"
    
    return season

In [28]:
season(1)

'January'

In [30]:
def reverse(x, y, z):
    return z, y, x # 한 개 이상 리턴 가능

In [32]:
ret = reverse(10, 20, 30)
print(type(ret))
print(ret)

<class 'tuple'>
(30, 20, 10)

In [33]:
r1, r2, r3 = reverse(10, 20, 30)
print(r1, r2, r3)

30 20 10

In [34]:
r1, r2, r3 = reverse('A', 'B', 'C')
print(r1, r2, r3)

C B A

In [35]:
def data():
    return (1,2), ('A', 'B')

In [36]:
a, b, c, d = data() # 에러

ValueError: not enough values to unpack (expected 4, got 2)

In [37]:
ret = data()
print(ret)

((1, 2), ('A', 'B'))

In [39]:
(a,b), (c,d) = data()
print(a, b, c, d)

1 2 A B

In [44]:
def data():
    return [1,2,3]

In [45]:
ret = data()
print(ret)

[1, 2, 3]

In [46]:
def data():
    return [1,2,3], [4,5,6]

In [48]:
ret = data()
print(ret)
print(ret[0])
print(ret[1])

([1, 2, 3], [4, 5, 6])
[1, 2, 3]
[4, 5, 6]

In [49]:
ret1, ret2 = data()
print(ret1)
print(ret2)

[1, 2, 3]
[4, 5, 6]