In [1]:
# dplyr설치
# options(repos="https://CRAN.R-project.org")
options(repos = c(CRAN = "http://cran.rstudio.com"))
install.packages("dplyr")

also installing the dependencies 'assertthat', 'utf8', 'cli', 'fansi', 'pillar', 'pkgconfig', 'purrr', 'ellipsis', 'generics', 'lifecycle', 'rlang', 'tibble', 'tidyselect', 'vctrs'

  There is a binary version available but the source version is later:
      binary source needs_compilation
dplyr  0.8.5  1.0.0              TRUE

  Binaries will be installed
package 'assertthat' successfully unpacked and MD5 sums checked
package 'utf8' successfully unpacked and MD5 sums checked
package 'cli' successfully unpacked and MD5 sums checked
package 'fansi' successfully unpacked and MD5 sums checked
package 'pillar' successfully unpacked and MD5 sums checked
package 'pkgconfig' successfully unpacked and MD5 sums checked
package 'purrr' successfully unpacked and MD5 sums checked
package 'ellipsis' successfully unpacked and MD5 sums checked
package 'generics' successfully unpacked and MD5 sums checked
package 'lifecycle' successfully unpacked and MD5 sums checked
package 'rlang' successfully unpacked and MD5 sums checked
package 'tibble' successfully unpacked and MD5 sums checked
package 'tidyselect' successfully unpacked and MD5 sums checked
package 'vctrs' successfully unpacked and MD5 sums checked
package 'dplyr' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\soldesk\AppData\Local\Temp\RtmpkDtNKJ\downloaded_packages

In [1]:
# 라이브러리 불러오기
library(dplyr)

Warning message:
"package 'dplyr' was built under R version 3.6.3"
Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

### filter

In [3]:
?filter
# filter {dplyr} : dplyr 패키지 아래에 있다는 것을 의미

In [5]:
exam <- read.csv("./files/exam.csv", fileEncoding='utf-8', encoding='utf-8')

In [6]:
head(exam)

  id class math english science
1 1  1     50   98      50
2 2  1     60   97      60
3 3  1     45   86      78
4 4  1     30   98      58
5 5  2     25   80      65
6 6  2     50   89      98

In [8]:
# ctrl + shift + m
# 왼쪽에 있는 데이터를 오른쪽으로 다 보낸다. 
# 1반만 필터링
cls1 <- exam  %>%  filter(class == 1) # 1번만 필터링하여 변수 할당
cls1

  id class math english science
1 1  1     50   98      50
2 2  1     60   97      60
3 3  1     45   86      78
4 4  1     30   98      58

In [9]:
# 필터링된 결과를 3개만 출력
exam  %>% filter(class==1)  %>%  head(3)

  id class math english science
1 1  1     50   98      50
2 2  1     60   97      60
3 3  1     45   86      78

In [11]:
# 수학 성적이 60점 이상인 학생만 3명 출력
exam  %>% filter(math >= 60)  %>% head(3)
# id	class	math	english	science
# 2	1	60	97	60
# 7	2	80	90	45
# 8	2	90	78	25

  id class math english science
1 2  1     60   97      60
2 7  2     80   90      45
3 8  2     90   78      25

In [12]:
# 수학 성적이 60점 초과인 학생 3명 출력
exam  %>% filter(math > 60)  %>% head(3)

  id class math english science
1  7 2     80   90      45
2  8 2     90   78      25
3 11 3     65   65      65

In [13]:
# 수학 성적이 60점 이하인 학생 3명 출력
exam  %>% filter(math <= 60)  %>% head(3)

  id class math english science
1 1  1     50   98      50
2 2  1     60   97      60
3 3  1     45   86      78

In [14]:
# 수학 성적이 60점 미만인 학생 3명 출력
exam  %>% filter(math < 60)  %>% head(3)

  id class math english science
1 1  1     50   98      50
2 3  1     45   86      78
3 4  1     30   98      58

In [15]:
# 1반에서 수학 성적인 60점 이상인 학생 출력
exam  %>% filter(class == 1)  %>% filter(math >= 60)
# id	class	math	english	science
# 2	1	60	97	60

  id class math english science
1 2  1     60   97      60

In [16]:
exam  %>% filter(class == 1 & math>=60)

  id class math english science
1 2  1     60   97      60

In [17]:
# 한 과목이라도 90점이 넘는 학생 출력 or 사용
exam  %>% filter(math >= 90 | english >= 90 | science >= 90)
# id	class	math	english	science
# 1	1	50	98	50
# 2	1	60	97	60
# 4	1	30	98	58
# 6	2	50	89	98
# ...

   id class math english science
1   1 1     50   98      50
2   2 1     60   97      60
3   4 1     30   98      58
4   6 2     50   89      98
5   7 2     80   90      45
6   8 2     90   78      25
7   9 3     20   98      15
8  10 3     50   98      45
9  13 4     46   98      65
10 16 4     58   98      65
11 17 5     65   68      98
12 18 5     80   78      90

In [18]:
# 1반에서 한 과목이라도 90점이 넘는 학생 출력 or 사용
exam  %>% 
        filter(class==1) %>% 
        filter(math >= 90 | english >= 90 | science >= 90)
# id	class	math	english	science
# 1	1	50	98	50
# 2	1	60	97	60
# 4	1	30	98	58

  id class math english science
1 1  1     50   98      50
2 2  1     60   97      60
3 4  1     30   98      58

In [23]:
# 1, 3, 5반만 출력, %in% 함수의 사용
exam  %>% filter(class %in% c(1,3,5))

   id class math english science
1   1 1     50   98      50
2   2 1     60   97      60
3   3 1     45   86      78
4   4 1     30   98      58
5   9 3     20   98      15
6  10 3     50   98      45
7  11 3     65   65      65
8  12 3     45   85      32
9  17 5     65   68      98
10 18 5     80   78      90
11 19 5     89   68      87
12 20 5     78   83      58

In [25]:
# 1, 3, 5반 중에 수학점수가 60점 이상인 학생만 출력, 
# %in% 함수의 사용
exam  %>% filter(class %in% c(1,3,5))  %>% filter(math >= 60)

  id class math english science
1  2 1     60   97      60
2 11 3     65   65      65
3 17 5     65   68      98
4 18 5     80   78      90
5 19 5     89   68      87
6 20 5     78   83      58

In [26]:
exam  %>% filter(class %in% c(1,3,5) & math >= 60)
# r에서는 subset을 쓰는데 더 복잡하다

  id class math english science
1  2 1     60   97      60
2 11 3     65   65      65
3 17 5     65   68      98
4 18 5     80   78      90
5 19 5     89   68      87
6 20 5     78   83      58

In [29]:
# 1 class만 산출
class1 <- exam  %>% filter(class == 1)
class1
class(class1)
# 'data.frame'

  id class math english science
1 1  1     50   98      50
2 2  1     60   97      60
3 3  1     45   86      78
4 4  1     30   98      58

[1] "data.frame"

In [30]:
# 2 class만 산출
class2 <- exam  %>% filter(class == 2)
class2

  id class math english science
1 5  2     25   80      65
2 6  2     50   89      98
3 7  2     80   90      45
4 8  2     90   78      25

[1] "data.frame"

In [34]:
class12 <- rbind(class1, class2)
class12

  id class math english science
1 1  1     50   98      50
2 2  1     60   97      60
3 3  1     45   86      78
4 4  1     30   98      58
5 5  2     25   80      65
6 6  2     50   89      98
7 7  2     80   90      45
8 8  2     90   78      25

In [35]:
# 수학 점수별 빈도 분석(table)
table(class12$math)
# 25 30 45 50 60 80 90 
#  1  1  1  2  1  1  1

25 30 45 50 60 80 90
 1  1  1  2  1  1  1

In [36]:
# [실습] mpg 데이터 분석
# 1. 자동차 배기량에따라 고속도로 연비가 다른지 알아보려고한다. 
#    displ(배기량)이 4 이하인 자동차와 4 초과인 자동차 중
#    어떤 자동차의 hwy(고속도로 연비)가 평균적으로 더 높은지 파악할 것.
#    cty: gallon 당 도시 주행 마일 수, 1 갤런은 3.78541 리터
#    hwy: gallon 당 고속도로 주행 마일 수, 1마일은 1.6 KM
install.packages("ggplot2")
# https://ggplot2.tidyverse.org/ > reference에서 데이터 확인 가능

also installing the dependencies 'ps', 'processx', 'callr', 'prettyunits', 'backports', 'desc', 'pkgbuild', 'rprojroot', 'rstudioapi', 'pkgload', 'praise', 'lattice', 'colorspace', 'testthat', 'nlme', 'Matrix', 'farver', 'labeling', 'munsell', 'RColorBrewer', 'viridisLite', 'gtable', 'isoband', 'MASS', 'mgcv', 'scales', 'withr'

package 'ps' successfully unpacked and MD5 sums checked
package 'processx' successfully unpacked and MD5 sums checked
package 'callr' successfully unpacked and MD5 sums checked
package 'prettyunits' successfully unpacked and MD5 sums checked
package 'backports' successfully unpacked and MD5 sums checked
package 'desc' successfully unpacked and MD5 sums checked
package 'pkgbuild' successfully unpacked and MD5 sums checked
package 'rprojroot' successfully unpacked and MD5 sums checked
package 'rstudioapi' successfully unpacked and MD5 sums checked
package 'pkgload' successfully unpacked and MD5 sums checked
package 'praise' successfully unpacked and MD5 sums checked
package 'lattice' successfully unpacked and MD5 sums checked
package 'colorspace' successfully unpacked and MD5 sums checked
package 'testthat' successfully unpacked and MD5 sums checked
package 'nlme' successfully unpacked and MD5 sums checked
package 'Matrix' successfully unpacked and MD5 sums checked
package 'farver' successfully unpacked and MD5 sums checked
package 'labeling' successfully unpacked and MD5 sums checked
package 'munsell' successfully unpacked and MD5 sums checked
package 'RColorBrewer' successfully unpacked and MD5 sums checked
package 'viridisLite' successfully unpacked and MD5 sums checked
package 'gtable' successfully unpacked and MD5 sums checked
package 'isoband' successfully unpacked and MD5 sums checked
package 'MASS' successfully unpacked and MD5 sums checked
package 'mgcv' successfully unpacked and MD5 sums checked
package 'scales' successfully unpacked and MD5 sums checked
package 'withr' successfully unpacked and MD5 sums checked
package 'ggplot2' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\soldesk\AppData\Local\Temp\RtmpkDtNKJ\downloaded_packages

In [38]:
class(ggplot2::mpg)
# 'tbl_df' 'tbl' 'data.frame'

[1] "tbl_df"     "tbl"        "data.frame"

In [2]:
# ::를 쓰면 패키지 안에 있는 데이터에 접근할 수 있게 됨
mpg <-as.data.frame(ggplot2::mpg)
class(mpg)
# 'data.frame'

[1] "data.frame"

In [58]:
# 구조 보기
str(mpg)
# 'data.frame':	234 obs. of  11 variables:
# 234 관측치, 11 변수

'data.frame':	234 obs. of  11 variables:
 $ manufacturer: chr  "audi" "audi" "audi" "audi" ...
 $ model       : chr  "a4" "a4" "a4" "a4" ...
 $ displ       : num  1.8 1.8 2 2 2.8 2.8 3.1 1.8 1.8 2 ...
 $ year        : int  1999 1999 2008 2008 1999 1999 2008 1999 1999 2008 ...
 $ cyl         : int  4 4 4 4 6 6 6 4 4 4 ...
 $ trans       : chr  "auto(l5)" "manual(m5)" "manual(m6)" "auto(av)" ...
 $ drv         : chr  "f" "f" "f" "f" ...
 $ cty         : int  18 21 20 21 16 18 18 18 16 20 ...
 $ hwy         : int  29 29 31 30 26 26 27 26 25 28 ...
 $ fl          : chr  "p" "p" "p" "p" ...
 $ class       : chr  "compact" "compact" "compact" "compact" ...

In [45]:
# displ(배기량)이 4 이하인 자동차 3건만 출력
mpg  %>% filter(displ <= 4)  %>% head(3)

  manufacturer model displ year cyl trans      drv cty hwy fl class
1 audi         a4    1.8   1999 4   auto(l5)   f   18  29  p  compact
2 audi         a4    1.8   1999 4   manual(m5) f   21  29  p  compact
3 audi         a4    2.0   2008 4   manual(m6) f   20  31  p  compact

In [46]:
# displ(배기량)이 4 이하인 자동차 건수?(x) -> 변수(칼럼)의 개수(11)가 나옴
mpg  %>% filter(displ <= 4) %>% length()
# 11

[1] 11

In [70]:
# displ(배기량)이 4 초과인 자동차 개수?
mpg_displ4 <- mpg %>% filter(displ > 4)
length(mpg_displ4$model) # 모델 값의 개수
# 71

[1] 71

In [71]:
# displ(배기량)이 4 이하인 자동차 개수?
mpg_displ4 <- mpg %>% filter(displ <= 4)
length(mpg_displ4$model) # 모델 값의 개수
# 163

[1] 163

In [73]:
# displ(배기량)이 4 초과인 자동차 개수?
mpg_displ4gt <- mpg %>% filter(displ > 4)
length(mpg_displ4gt$model) # 모델 값의 개수
# 71

[1] 71

In [ ]:
# 데이터 분석 업무를 전달받아 분석 시 변수의 특성과 규모 등을 파악할 것

In [76]:
# 4 이하 고속도로 평균 연비, 단위: 갤런당 mile
displ4_hwy <- mean(mpg_displ4$hwy)
displ4_hwy
# 25.9631901840491 마일

[1] 25.96319

In [78]:
# 4 초과 고속도로 평균 연비, 단위: 갤런당 mile
displ4gt_hwy<- mean(mpg_displ4gt$hwy)
displ4gt_hwy
# 17.6478873239437

[1] 17.64789

In [79]:
# 1 갤런당 연비를 KM으로 계산
cat('배기량 4 이하 1갤런당:',displ4_hwy * 1.6, ' KM', '\n') # 41.5411  KM 
cat('배기량 4 초과 1갤런당:',displ4gt_hwy * 1.6, ' KM') # 28.23662  KM

배기량 4 이하 1갤런당: 41.5411  KM
배기량 4 초과 1갤런당: 28.23662  KM

In [80]:
# 1L당  10.974  KM
cat('배기량 4 이하 1L당:', displ4_hwy * 1.6 / 3.78541, ' KM', '\n')   
# 1L당  7.459329  KM
cat('배기량 4 초과 1L당:', displ4gt_hwy * 1.6 / 3.78541, ' KM')

배기량 4 이하 1L당: 10.974  KM
배기량 4 초과 1L당: 7.459329  KM

In [ ]:
# 2. 자동차 제조 회사에 따라 도시 연비가 다른지 알아보려고한다.
#    'audi'와 'ford' 중 어느 manufacturer(자동차 제조 회사)의
#    cty(도시 연비)가 평균적으로 더 높은지 파악 할 것.

In [6]:
audi <- mpg  %>% filter(manufacturer == "audi")
head(audi)

  manufacturer model displ year cyl trans      drv cty hwy fl class
1 audi         a4    1.8   1999 4   auto(l5)   f   18  29  p  compact
2 audi         a4    1.8   1999 4   manual(m5) f   21  29  p  compact
3 audi         a4    2.0   2008 4   manual(m6) f   20  31  p  compact
4 audi         a4    2.0   2008 4   auto(av)   f   21  30  p  compact
5 audi         a4    2.8   1999 6   auto(l5)   f   16  26  p  compact
6 audi         a4    2.8   1999 6   manual(m5) f   18  26  p  compact

In [7]:
ford <- mpg  %>% filter(manufacturer == "ford")
head(ford)

  manufacturer model          displ year cyl trans      drv cty hwy fl class
1 ford         expedition 2wd 4.6   1999 8   auto(l4)   r   11  17  r  suv
2 ford         expedition 2wd 5.4   1999 8   auto(l4)   r   11  17  r  suv
3 ford         expedition 2wd 5.4   2008 8   auto(l6)   r   12  18  r  suv
4 ford         explorer 4wd   4.0   1999 6   auto(l5)   4   14  17  r  suv
5 ford         explorer 4wd   4.0   1999 6   manual(m5) 4   15  19  r  suv
6 ford         explorer 4wd   4.0   1999 6   auto(l5)   4   14  17  r  suv

In [8]:
audi_cty <- mean(audi$cty)
audi_cty

[1] 17.61111

In [9]:
ford_cty <- mean(ford$cty)
ford_cty

[1] 14

In [36]:
cat('Audi 도시연비: ', round(audi_cty, 1), 'mile', '\n')
cat('Ford 도시연비: ', round(ford_cty, 1), 'mile', '\n')
ifelse(audi_cty > ford_cty, "Audi 차량을 추천합니다.")

Audi 도시연비:  17.6 mile
Ford 도시연비:  14 mile

[1] "Audi 차량을 추천합니다."

In [34]:
check_cty <- function(man1, man2){
    m1 <- mpg  %>% filter(manufacturer == man1)
    m1_cty <- mean(m1$cty)
    m2 <- mpg  %>% filter(manufacturer == man2)
    m2_cty <- mean(m2$cty)
    
    if(m1_cty > m2_cty){
        cat(man1, "의 평균 연비가 더 높습니다.", '\n')
    } else if(audi_cty == ford_cty){
        print("평균 연비가 같습니다.")
    } else{
        cat(man2, "의 평균 연비가 더 높습니다", '\n')
    }
}

In [35]:
check_cty("audi", "ford")
check_cty("chevrolet", "dodge")
check_cty("honda", "hyundai")
# cat에서 줄 바꿈을 하고 싶으면 더블 쿼테이션이 아닌 싱글 쿼테이션에 \n 값을 줘야 함 
# audi 의 평균 연비가 더 높습니다. 
# chevrolet 의 평균 연비가 더 높습니다. 
# honda 의 평균 연비가 더 높습니다.

audi 의 평균 연비가 더 높습니다.
chevrolet 의 평균 연비가 더 높습니다.
honda 의 평균 연비가 더 높습니다.

In [38]:
# 1 갤런당 연비를 KM으로 계산
cat('아우디의 연비 KM:',round(audi_cty * 1.6, 1), ' KM', '\n') # 28.2  KM 
cat('포드의 연비 KM:',round(ford_cty * 1.6, 1), ' KM', '\n')  # 22.4  KM

아우디의 연비 KM: 28.2  KM
포드의 연비 KM: 22.4  KM

In [ ]:
# 3. 'chevrolet', 'ford', 'hyundai' 자동차의 고속도로 연비 평균을
#    조사하는중이다.
#    이회사들의 데이터를 추출한 후 hwy 전체 평균을 파악할 것.

In [39]:
# unique를 사용하면 중복 데이터 제거 가능
unique(mpg$manufacturer)
# 'audi' 'chevrolet' 'dodge' 'ford' 'honda' 'hyundai' 'jeep' 'land rover' 'lincoln' 'mercury' 'nissan' 'pontiac' 'subaru' 'toyota' 'volkswagen'

 [1] "audi"       "chevrolet"  "dodge"      "ford"       "honda"
 [6] "hyundai"    "jeep"       "land rover" "lincoln"    "mercury"
[11] "nissan"     "pontiac"    "subaru"     "toyota"     "volkswagen"

In [74]:
# 제조사별 등록건수, = 빈도
tmp <- data.frame(table(mpg$manufacturer))
names(tmp) <- c("manu", "cnt")
tmp

# manu	cnt
# audi	18
# chevrolet	19
# dodge	37
# ford	25
# honda	9
# hyundai	14
# jeep	8
# land rover	4
# lincoln	3
# mercury	4
# nissan	13
# pontiac	5
# subaru	14
# toyota	34
# volkswagen	27

   manu       cnt
1  audi       18
2  chevrolet  19
3  dodge      37
4  ford       25
5  honda       9
6  hyundai    14
7  jeep        8
8  land rover  4
9  lincoln     3
10 mercury     4
11 nissan     13
12 pontiac     5
13 subaru     14
14 toyota     34
15 volkswagen 27

In [77]:
# 'chevrolet', 'ford', 'hyundai'에 해당하는 row 출력, 3건만 출력
mpg3 <- mpg  %>%  filter(manufacturer %in% c('chevrolet', 'ford', 'hyundai'))
# head(mpg3, 3)
# 3사의 평균 도시 연비 KM로 출력
cat(mean(mpg3$hwy) * 1.6, 'KM', '\n') # 35.2 KM

35.2 KM

In [79]:
# 등록 건수
mpg3  %>% count()
# n
# 58

  n
1 58

In [78]:
# 변수(칼럼)의 개수
mpg3  %>% length()
# 11

[1] 11