### csv 파일 기록

In [7]:
df <- read.csv('./files/studentlist.csv'
               , fileEncoding='utf-8', encoding='utf-8')
df <- head(df, 5)
df

  name   gender age grade absence bloodtype height weight
1 김길동 남자   23  3     유      O         165.3  68.2
2 이미린 여자   22  2     무      AB        170.1  53.0
3 홍길동 남자   24  4     무      B         175.0  80.1
4 김철수 남자   23  3     무      AB        182.1  85.7
5 손세수 여자   20  1     유      A         168.0  49.5

In [8]:
# 구분자: 공백, txt 파일로 저장하기, 디폴트: ANSI로저장
# ANSI로 저장되면 주피터 노트북에서 읽을 수가 없다.
write.table(df, './files/stu1.txt')

In [9]:
dfr <- read.table('./files/stu1.txt') # ANSI로 읽음, 
# ANSI로 출력해도 읽고 쓰는데 문제 없다.
dfr

  name   gender age grade absence bloodtype height weight
1 김길동 남자   23  3     유      O         165.3  68.2
2 이미린 여자   22  2     무      AB        170.1  53.0
3 홍길동 남자   24  4     무      B         175.0  80.1
4 김철수 남자   23  3     무      AB        182.1  85.7
5 손세수 여자   20  1     유      A         168.0  49.5

In [10]:
 # 구분자: 공백, txt 파일로 저장하기, utf-8로저장
write.table(df, './files/stu1_utf8.txt', fileEncoding='utf-8')

In [11]:
# utf-8로 저장한 것은 utf-8로 읽어야 함
dfr <- read.table('./files/stu1_utf8.txt',
                   , fileEncoding='utf-8', encoding='utf-8') # utf-8로 읽음
dfr

  name   gender age grade absence bloodtype height weight
1 김길동 남자   23  3     유      O         165.3  68.2
2 이미린 여자   22  2     무      AB        170.1  53.0
3 홍길동 남자   24  4     무      B         175.0  80.1
4 김철수 남자   23  3     무      AB        182.1  85.7
5 손세수 여자   20  1     유      A         168.0  49.5

In [12]:
# 구분자: 공백, 텍스트 파일
write.table(df, './files/stu2.txt', sep=" ", fileEncoding='utf-8') 
dfr <- read.table('./files/stu2.txt', fileEncoding='utf-8', encoding='utf-8')
class(dfr)
dfr

[1] "data.frame"

  name   gender age grade absence bloodtype height weight
1 김길동 남자   23  3     유      O         165.3  68.2
2 이미린 여자   22  2     무      AB        170.1  53.0
3 홍길동 남자   24  4     무      B         175.0  80.1
4 김철수 남자   23  3     무      AB        182.1  85.7
5 손세수 여자   20  1     유      A         168.0  49.5

In [15]:
# csv 파일 출력
write.table(df, './files/stu3.csv', sep=",", fileEncoding='utf-8') # 구분자: ,

#stu3.csv 파일을 엑셀로 오픈해보면 한글이 깨져있다.
# 데이터 -> 텍스트 -> 파일 선택 -> 유니코드 설정

#
dfr <- read.csv('./files/stu3.csv', fileEncoding='utf-8', encoding='utf-8')
class(dfr)
dfr

[1] "data.frame"

  name   gender age grade absence bloodtype height weight
1 김길동 남자   23  3     유      O         165.3  68.2
2 이미린 여자   22  2     무      AB        170.1  53.0
3 홍길동 남자   24  4     무      B         175.0  80.1
4 김철수 남자   23  3     무      AB        182.1  85.7
5 손세수 여자   20  1     유      A         168.0  49.5

In [25]:
# 저장된 파일에서 문자열을 표현할 때 ""을 포함하지 않음.
write.table(df, './files/stu4.csv', sep=",", quote=FALSE
            , fileEncoding='utf-8', row.names=FALSE) # 구분자: ,
dfr <- read.csv('./files/stu4.csv',
                fileEncoding='utf-8', encoding='utf-8')
class(dfr)
dfr

[1] "data.frame"

  name   gender age grade absence bloodtype height weight
1 김길동 남자   23  3     유      O         165.3  68.2
2 이미린 여자   22  2     무      AB        170.1  53.0
3 홍길동 남자   24  4     무      B         175.0  80.1
4 김철수 남자   23  3     무      AB        182.1  85.7
5 손세수 여자   20  1     유      A         168.0  49.5

In [23]:
# write.csv
# csv는 많이 사용하기 때문에 따로 함수가 존재한다.
# row names 제거
write.csv(df, './files/stu5.csv', row.names=FALSE, fileEncoding='utf-8') # 구분자: ,
# 문자열 팩터로 변환하지 않음, -가 있으면 NA로 표시
# 3줄만 표시, 1줄 생략
dfr <- read.csv('./files/stu5.csv',
                fileEncoding='utf-8', encoding='utf-8', stringsAsFactors=FALSE, na.strings="-",
               nrows=3, skip=1)
class(dfr)
dfr

# 'data.frame'
# 김길동	남자	X23	X3	유	O	X165.3	X68.2
# 이미린	여자	22	2	무	AB	170.1	53.0
# 홍길동	남자	24	4	무	B	175.0	80.1
# 김철수	남자	23	3	무	AB	182.1	85.7

[1] "data.frame"

  김길동 남자 X23 X3 유 O  X165.3 X68.2
1 이미린 여자 22  2  무 AB 170.1  53.0
2 홍길동 남자 24  4  무 B  175.0  80.1
3 김철수 남자 23  3  무 AB 182.1  85.7

### Excel 기록

In [26]:
library(xlsx)
library(rJava)

Warning message:
"package 'xlsx' was built under R version 3.6.3"Warning message:
"package 'rJava' was built under R version 3.6.3"

In [27]:
# /ws_bigdata/notebook/core/files/studentlist.xlsx
# 인코딩이 없으면 깨진다
studentx <- read.xlsx(file.choose(), sheetIndex=1, encoding="UTF-8")

In [28]:
class(studentx)
studentx <- head(studentx, 5) # 5건만 처리
studentx

[1] "data.frame"

  name   gender age grade absence bloodtype height weight
1 김길동 남자   23  3     유      O         165.3  68.2
2 이미린 여자   22  2     무      AB        170.1  53.0
3 홍길동 남자   24  4     무      B         175.0  80.1
4 김철수 남자   23  3     무      AB        182.1  85.7
5 손세수 여자   20  1     유      A         168.0  49.5

In [29]:
# 5건만 출력, 행 index 포함됨, 한글 처리됨.
# 행 인덱스가 존재
write.xlsx(studentx, './files/studentlist2.xlsx')

In [30]:
# 행 index 기록 안됨
write.xlsx(studentx, './files/studentlist3.xlsx', row.names = FALSE)

### RData

In [31]:
# R 고유형식 Rdata write/load
emp <- data.frame(name=c('아로미', '왕눈이'), 
                  address=c('서울', '평양'),
                  train=c(2600, 1000)
)

In [32]:
emp
# name	address	train
# 아로미	서울	2600
# 왕눈이	평양	1000

  name   address train
1 아로미 서울    2600
2 왕눈이 평양    1000

In [33]:
# RData write, fileEncoding='utf-8' 선언시 에러
save(emp, file='./files/emp.rda')

In [34]:
rm(emp) # 메모리에서 emp 객체 삭제
emp # Error: object 'emp' not found emp 객체 삭제됨.

ERROR: Error in eval(expr, envir, enclos): 객체 'emp'를 찾을 수 없습니다

In [31]:
load('./files/emp.rda')
emp
# name	address	train
# 아로미	서울	2600
# 왕눈이	평양	1000

  name   address train
1 아로미 서울    2600
2 왕눈이 평양    1000