In [32]:
getwd()
# 'C:/ai6/ws_bigdata/notebook/core'

[1] "C:/ai6/ws_bigdata/notebook/core"

In [33]:
setwd('C:/ai6/ws_bigdata/notebook/core/files')

In [34]:
df <- read.csv('studentlist.csv', fileEncoding='utf-8', encoding='utf-8')
df
# name	gender	age	grade	absence	bloodtype	height	weight
# 김길동	남자	23	3	유	O	165.3	68.2
# 이미린	여자	22	2	무	AB	170.1	53.0
# 홍길동	남자	24	4	무	B	175.0	80.1
# 김철수	남자	23	3	무	AB	182.1	85.7
# 손세수	여자	20	1	유	A	168.0	49.5
# 박미희	여자	21	2	무	O	162.0	52.0
# 강수친	여자	22	1	무	O	155.2	45.3
# 이희수	여자	23	1	무	A	176.9	55.0
# 이철린	남자	23	3	무	B	178.5	64.2
# 방희철	남자	22	2	무	B	176.1	61.3
# 박수호	남자	24	4	유	O	167.1	62.0
# 임동민	남자	22	2	무	AB	180.0	75.8
# 김민수	남자	21	1	무	A	162.2	55.3
# 이희진	여자	23	3	무	O	176.1	53.1
# 김미진	여자	22	2	무	B	158.2	45.2
# 김동수	남자	24	4	유	B	168.6	70.2
# 여수근	남자	21	1	무	A	169.2	62.2

   name   gender age grade absence bloodtype height weight
1  김길동 남자   23  3     유      O         165.3  68.2
2  이미린 여자   22  2     무      AB        170.1  53.0
3  홍길동 남자   24  4     무      B         175.0  80.1
4  김철수 남자   23  3     무      AB        182.1  85.7
5  손세수 여자   20  1     유      A         168.0  49.5
6  박미희 여자   21  2     무      O         162.0  52.0
7  강수친 여자   22  1     무      O         155.2  45.3
8  이희수 여자   23  1     무      A         176.9  55.0
9  이철린 남자   23  3     무      B         178.5  64.2
10 방희철 남자   22  2     무      B         176.1  61.3
11 박수호 남자   24  4     유      O         167.1  62.0
12 임동민 남자   22  2     무      AB        180.0  75.8
13 김민수 남자   21  1     무      A         162.2  55.3
14 이희진 여자   23  3     무      O         176.1  53.1
15 김미진 여자   22  2     무      B         158.2  45.2
16 김동수 남자   24  4     유      B         168.6  70.2
17 여수근 남자   21  1     무      A         169.2  62.2

In [4]:
# gender 성별을 이름으로 하는 height 키의 분리
# split(데이터, 그룹명)
height_by_gender <- split(df$height, df$gender)
height_by_gender
# $남자
# 165.3 175 182.1 178.5 176.1 167.1 180 162.2 168.6 169.2
# $여자
# 170.1 168 162 155.2 176.9 176.1 158.2

mode(height_by_gender)
class(height_by_gender)
# 'list'
# 'list'

$남자
 [1] 165.3 175.0 182.1 178.5 176.1 167.1 180.0 162.2 168.6 169.2

$여자
[1] 170.1 168.0 162.0 155.2 176.9 176.1 158.2

[1] "list"

[1] "list"

In [5]:
height_by_gender$남자
# 165.3 175 182.1 178.5 176.1 167.1 180 162.2 168.6 169.2

 [1] 165.3 175.0 182.1 178.5 176.1 167.1 180.0 162.2 168.6 169.2

In [6]:
height_by_gender$여자
# 170.1 168 162 155.2 176.9 176.1 158.2

[1] 170.1 168.0 162.0 155.2 176.9 176.1 158.2

In [7]:
class(height_by_gender)
class(height_by_gender[1])
class(height_by_gender[[1]])
is(height_by_gender[[1]]) # 숫자들이 모인 vector가 첫번재 list 요소
# 'list'
# 'list'
# 'numeric'
# 'numeric' 'vector'

[1] "list"

[1] "list"

[1] "numeric"

[1] "numeric" "vector"

In [8]:
length(height_by_gender)       # (그룹의 개수)
length(height_by_gender[1])    # 리스트 자기 자신(이렇게는 잘 사용하지 않음)
length(height_by_gender[[1]])  # 남자 데이터 10개
length(height_by_gender[[2]])  # 여자 데이터 7개
# 2
# 1
# 10
# 7

[1] 2

[1] 1

[1] 10

[1] 7

In [10]:
# 단순한 값이 산출, sapply
a <- sapply(height_by_gender, length) # vector 리턴, 1차원 배열 형태로 접근할 수 있다.
class(a)
is(a)
a
cat('남학생수:', a[1], '여학생수:', a[2])
# 'integer'
# 'integer' 'double' 'numeric' 'vector' 'data.frameRowLabels'
# 남자
# 10
# 여자
# 7
# 남학생수: 10 여학생수: 7
# print(a$남자) # 에러, 문법이 유연하지 못하다.

print(' ')
man_cnt <- a['남자'] # 이름으로 접근이 가능하다
print(man_cnt)
# 남자 
#   10

[1] "integer"

[1] "integer"             "double"              "numeric"
[4] "vector"              "data.frameRowLabels"

남자 여자
  10    7

남학생수: 10 여학생수: 7[1] " "
남자
  10

In [10]:
# 성별 그룹별 평균 키
# 각각의 요소에 이름이 자동으로 붙는다
k <- sapply(height_by_gender, mean)
k
is(k)
# 남자
# 172.41
# 여자
# 166.642857142857
# 'numeric' 'vector'

    남자     여자
172.4100 166.6429

[1] "numeric" "vector"

In [11]:
# 성별 키의 범위
r <- sapply(height_by_gender, range)
r
class(r)
# 남자	여자
# 162.2	155.2
# 182.1	176.9
# 'matrix'

     남자  여자
[1,] 162.2 155.2
[2,] 182.1 176.9

[1] "matrix"

In [45]:
# 합 / 개수 -> 평균 -> 편차²(편차: 평균과의 차이)
a <- c(1:5) # 물고기의 크기
# a
tot <- a[1] + a[2] + a[3] + a[4] + a[5]
# tot
n=length(a)
# n
mean = tot/n
# mean # 평균, 어떤 그룹의 대표값
dev <- 0
for(su in a){
    dev <- dev + (su-mean)
}
dev # 0
# 편차의 합은 0이 되는 수학적인 성질이 있음
# 전체적인 물고기의 차이를 알고 싶어서 합을 구했으나 0이 나옴
# 낚시한 물고기는 3cm에서 크기의 차이가 없다는 잘못된 결론을 발생시킴

[1] 0

In [44]:
# 합 / 개수 -> 평균 -> 편차²(편차: 평균과의 차이)
a <- c(1:5)
# a
tot <- a[1] + a[2] + a[3] + a[4] + a[5]
# tot
n=length(a)
# n
mean = tot/n
# mean # 평균, 어떤 그룹의 대표값
dev <- 0
for(su in a){
    dev <- dev + (su-mean)**2 # 편차의 제곱의 합
}
dev

vari <- dev/(n-1)
vari # n-1을 사용하는 이유는 
# 표본 평균을 사용했기 때문에 모집단의 편의된 추정값(biased estimator)이 되므로, 분산이 불편 추정량(unbiased estimator)이 되도록 하기 위해서
# 결론: 이 호수에서는 기대한 평균보다 2.5만큼 크거나 작은 크기의 물고기를 잡을 확률이 있다.
vari2 <- var(a)
vari2

[1] 10

[1] 2.5

[1] 2.5

In [47]:
# 분산은 원래의 차이를 제곱 한 것이므로 
# 실제 차이값보다 큰값이다.
# 제곱을 원래의 값으로 해야함: ex.√2.5 = 1.581
sd = sqrt(vari) # 표준편차
sd # 표준편차
# 이 호수에서는 3cm의 물고기가 잡힐 것이라고 예상되며 최소 
cat('최소 물고기 크기: ', mean-sd, '\n')
cat('최대 물고기 크기: ', mean+sd)
# 1.58113883008419
# 최소 물고기 크기:  1.418861 
# 최대 물고기 크기:  4.581139

[1] 1.581139

최소 물고기 크기:  1.418861
최대 물고기 크기:  4.581139

In [12]:
# 성별에 따른 키가 얼마나 평균에서 분산되어 있는지 확인

v <- sapply(height_by_gender, var) 
v
class(v)
# 남자
# 46.3032222222222
# 여자
# 72.0361904761905
# 'numeric'

    남자     여자
46.30322 72.03619

[1] "numeric"

In [13]:
# 성별키가 얼마나 평균에서 분산되어 있는지 표준편차로 확인
d <- sapply(height_by_gender, sd) 
d
class(d)
# 남자
# 6.80464710489987
# 여자
# 8.48741365058818
# 'numeric'

    남자     여자
6.804647 8.487414

[1] "numeric"

In [13]:
# 기본적으로 열방향 데이터 추가
emp <- data.frame(name=c('아로미', '왕눈이'),
                  address=c('서울', '평양'),
                  train=c(2500, 1000))
emp
# name	address	train
# 아로미	서울	2500
# 왕눈이	평양	1000

  name   address train
1 아로미 서울    2500
2 왕눈이 평양    1000

In [14]:
# 데이터 프레임에 열 추가하기
# 행 개수가 딱 맞아야 함
# cbind: 열 병합
# emp <- cbind(emp, mt=c('한라산', '백두산', '설악산')) -> 에러
emp <- cbind(emp, mt=c('한라산', '백두산'))
emp
# name	address	train	mt
# 아로미	서울	2500	한라산
# 왕눈이	평양	1000	백두산

  name   address train mt
1 아로미 서울    2500  한라산
2 왕눈이 평양    1000  백두산

In [15]:
# rbind: 행 결합
emp <- rbind(emp, data.frame(name='조인성', address='안시성',
                             train=3000, mt='금강산'))
emp
# name	address	train	mt
# 아로미	서울	2500	한라산
# 왕눈이	평양	1000	백두산
# 조인성	안시성	3000	금강산

  name   address train mt
1 아로미 서울    2500  한라산
2 왕눈이 평양    1000  백두산
3 조인성 안시성  3000  금강산

In [16]:
# 특정 열 출력
name <- emp[1] # column index from 1, 변수
name
class(name)
# name
# 아로미
# 왕눈이
# 조인성

  name
1 아로미
2 왕눈이
3 조인성

[1] "data.frame"

In [17]:
# 특정 행 출력
one <- emp[1,] # 첫번째 관측치(레코드)
one
# name	address	train	mt
# 아로미	서울	2500	한라산

  name   address train mt
1 아로미 서울    2500  한라산

In [18]:
all_name <- emp[, 1] # 모든 관측치의 첫번째 변수 출력
all_name
# 아로미 왕눈이 조인성

class(all_name) # R 내부적으로: 문자열을 숫자(factor)로 자동 변환하여 처리됨
#  Levels:
# '아로미' '왕눈이' '조인성'
# 'factor' -> 나열된 숫자를 의미

[1] 아로미 왕눈이 조인성
Levels: 아로미 왕눈이 조인성

[1] "factor"

In [19]:
one_name <- emp[1, 1]
one_name
# 아로미
#  Levels:
# '아로미' '왕눈이' '조인성'

[1] 아로미
Levels: 아로미 왕눈이 조인성

In [20]:
emp[-3, ] # 3번 index 제외
# name	address	train	mt
# 아로미	서울	2500	한라산
# 왕눈이	평양	1000	백두산

  name   address train mt
1 아로미 서울    2500  한라산
2 왕눈이 평양    1000  백두산

In [21]:
emp[, -4] # 4번째 변수 제외
# name	address	train
# 아로미	서울	2500
# 왕눈이	평양	1000
# 조인성	안시성	3000

  name   address train
1 아로미 서울    2500
2 왕눈이 평양    1000
3 조인성 안시성  3000

In [22]:
# 칼럼명으로 추출
name <- emp["name"]
name
# name
# 아로미
# 왕눈이
# 조인성

  name
1 아로미
2 왕눈이
3 조인성

In [23]:
# 대괄호를 두번 쓰면(데이터프레임의 요소에 접근) 결과가 factor로 나오게 된다.
# 내부적으로 수치로 처리한다.
# 숫자는 vector로 나오게 될 것
name <- emp[["name"]]  # 문자열일 경우는 factor로 분리
name
class(name)
is(name)

[1] 아로미 왕눈이 조인성
Levels: 아로미 왕눈이 조인성

[1] "factor"

[1] "factor"              "integer"             "oldClass"
[4] "double"              "numeric"             "vector"
[7] "data.frameRowLabels"

In [24]:
train <- emp[["train"]]  # 숫자일경우는 vector로 분리
train
class(train)
is(train)
# 2500 1000 3000
# 'numeric'
# 'numeric' 'vector'

[1] 2500 1000 3000

[1] "numeric"

[1] "numeric" "vector"

In [25]:
name <- emp$name
name
# 아로미 왕눈이 조인성 # level로 그룹화 되어 있는 factor에서 꺼낸 결과
#  Levels:
# '아로미' '왕눈이' '조인성'

[1] 아로미 왕눈이 조인성
Levels: 아로미 왕눈이 조인성

In [26]:
# Factor: 속도를 높이고 메모리를 절약하기 위한 기법이다

one_name <- emp[1][1]
one_name
one_name <- emp[[1]][1] # dataframe의 변수의 요소 접근
one_name
one_name <- emp[1, 1]   # dataframe의 변수의 요소 접근
one_name
# name
# 아로미
# 왕눈이
# 조인성
# 아로미

#  Levels:
# '아로미' '왕눈이' '조인성'

# 아로미

#  Levels:
# '아로미' '왕눈이' '조인성'

  name
1 아로미
2 왕눈이
3 조인성

[1] 아로미
Levels: 아로미 왕눈이 조인성

[1] 아로미
Levels: 아로미 왕눈이 조인성

In [27]:
emp

  name   address train mt
1 아로미 서울    2500  한라산
2 왕눈이 평양    1000  백두산
3 조인성 안시성  3000  금강산

In [28]:
# 신규 관측치의 추가
# factor 경고: 기존에 사용하지 않은 새로운 문자열 추가시 발생
emp[4, 1] <- "조인성"
emp[4, 2] <- "요동성"
emp[4, 3] <- 2000
emp[4, 4] <- "백두산"
# Warning message "invalid factor level, NA generated"
# 서울 평양 안시성 외에는 포함시킬 수 없음

Warning message in `[<-.factor`(`*tmp*`, iseq, value = "요동성"):
"invalid factor level, NA generated"

In [30]:
# Dataframe은 최초 생성시 만들어진 factor를 계속 사용함으로
# 중간에 새로운 문자열을 factor로 포함 할 수 없음.
emp
# name	address	train	mt
# 아로미	서울	2500	한라산
# 왕눈이	평양	1000	백두산
# 조인성	안시성	3000	금강산
# 조인성	NA	2000	백두산

  name   address train mt
1 아로미 서울    2500  한라산
2 왕눈이 평양    1000  백두산
3 조인성 안시성  3000  금강산
4 조인성 NA      2000  백두산

In [29]:
# 데이터프레임에서 행 삭제
emp <- emp[-4, ]  # 4번째행 삭제
emp
# name	address	train	mt
# 아로미	서울	2500	한라산
# 왕눈이	평양	1000	백두산
# 조인성	안시성	3000	금강산

  name   address train mt
1 아로미 서울    2500  한라산
2 왕눈이 평양    1000  백두산
3 조인성 안시성  3000  금강산

In [30]:
# 아까 2000이라는 숫자는 경고 뜨지 않음, 문자열만 factor로 처리되기 때문에
# 새로운 관측치는 rbind를 사용해야 factor 에러가 발생하지 않음.
emp2 <- rbind(emp, data.frame(name='김남길', address='동해',
                             train=2000, mt='관악산'))
emp2
# name	address	train	mt
# 아로미	서울	2500	한라산
# 왕눈이	평양	1000	백두산
# 조인성	안시성	3000	금강산
# 김남길	동해	2000	관악산

  name   address train mt
1 아로미 서울    2500  한라산
2 왕눈이 평양    1000  백두산
3 조인성 안시성  3000  금강산
4 김남길 동해    2000  관악산

In [31]:
emp

  name   address train mt
1 아로미 서울    2500  한라산
2 왕눈이 평양    1000  백두산
3 조인성 안시성  3000  금강산

In [ ]:
setwd('C:/ai6/ws_bigdata/notebook/core/files')
df <- read.csv('studentlist.csv', fileEncoding='utf-8', encoding='utf-8')

In [35]:
str(df) # dataframe 구조 출력

# 'data.frame':	17 obs. of  8 variables:
#  $ name     : Factor w/ 17 levels "강수친","김길동",..: 2 12 17 6 10 7 1 14 13 9 ...
#  $ gender   : Factor w/ 2 levels "남자","여자": 1 2 1 1 2 2 2 2 1 1 ...
#  $ age      : int  23 22 24 23 20 21 22 23 23 22 ...
#  $ grade    : int  3 2 4 3 1 2 1 1 3 2 ...
#  $ absence  : Factor w/ 2 levels "무","유": 2 1 1 1 2 1 1 1 1 1 ...
#  $ bloodtype: Factor w/ 4 levels "A","AB","B","O": 4 2 3 2 1 4 4 1 3 3 ...
#  $ height   : num  165 170 175 182 168 ...
#  $ weight   : num  68.2 53 80.1 85.7 49.5 52 45.3 55 64.2 61.3 ...

'data.frame':	17 obs. of  8 variables:
 $ name     : Factor w/ 17 levels "강수친","김길동",..: 2 12 17 6 10 7 1 14 13 9 ...
 $ gender   : Factor w/ 2 levels "남자","여자": 1 2 1 1 2 2 2 2 1 1 ...
 $ age      : int  23 22 24 23 20 21 22 23 23 22 ...
 $ grade    : int  3 2 4 3 1 2 1 1 3 2 ...
 $ absence  : Factor w/ 2 levels "무","유": 2 1 1 1 2 1 1 1 1 1 ...
 $ bloodtype: Factor w/ 4 levels "A","AB","B","O": 4 2 3 2 1 4 4 1 3 3 ...
 $ height   : num  165 170 175 182 168 ...
 $ weight   : num  68.2 53 80.1 85.7 49.5 52 45.3 55 64.2 61.3 ...

In [106]:
df[1]
# name
# 김길동
# 이미린
# 홍길동
# 김철수
# 손세수
# 박미희
# 강수친
# 이희수
# 이철린
# 방희철
# 박수호
# 임동민
# 김민수
# 이희진
# 김미진
# 김동수
# 여수근

   name
1  김길동
2  이미린
3  홍길동
4  김철수
5  손세수
6  박미희
7  강수친
8  이희수
9  이철린
10 방희철
11 박수호
12 임동민
13 김민수
14 이희진
15 김미진
16 김동수
17 여수근

In [107]:
df[1,]
df[1, 1]  # factor

# name	gender	age	grade	absence	bloodtype	height	weight
# 김길동	남자	23	3	유	O	165.3	68.2
# 김길동
#  Levels:
# '강수친' '김길동' '김동수' '김미진' '김민수' '김철수' '박미희' '박수호' '방희철' '손세수' '여수근' '이미린' '이철린' '이희수' '이희진' '임동민' '홍길동'

  name   gender age grade absence bloodtype height weight
1 김길동 남자   23  3     유      O         165.3  68.2

[1] 김길동
17 Levels: 강수친 김길동 김동수 김미진 김민수 김철수 박미희 박수호 ... 홍길동

In [109]:
df[c(1, 2)] # 첫번째, 두번째 변수
# name	gender
# 김길동	남자
# 이미린	여자
# 홍길동	남자
# 김철수	남자
# 손세수	여자
# 박미희	여자
# 강수친	여자
# 이희수	여자
# 이철린	남자
# 방희철	남자
# 박수호	남자
# 임동민	남자
# 김민수	남자
# 이희진	여자
# 김미진	여자
# 김동수	남자
# 여수근	남자

   name   gender
1  김길동 남자
2  이미린 여자
3  홍길동 남자
4  김철수 남자
5  손세수 여자
6  박미희 여자
7  강수친 여자
8  이희수 여자
9  이철린 남자
10 방희철 남자
11 박수호 남자
12 임동민 남자
13 김민수 남자
14 이희진 여자
15 김미진 여자
16 김동수 남자
17 여수근 남자

In [111]:
# 비교연산
ge170 <- df$height >= 170
ge170
class(ge170)
# FALSE TRUE TRUE TRUE FALSE FALSE FALSE TRUE TRUE TRUE FALSE TRUE FALSE TRUE FALSE FALSE FALSE
# 'logical'

 [1] FALSE  TRUE  TRUE  TRUE FALSE FALSE FALSE  TRUE  TRUE  TRUE FALSE  TRUE
[13] FALSE  TRUE FALSE FALSE FALSE

[1] "logical"

In [112]:
# subset(Dataframe, subset=(조건: 참/거짓))
stu <- subset(df, subset=(height >= 170))
stu

# name	gender	age	grade	absence	bloodtype	height	weight
# 2	이미린	여자	22	2	무	AB	170.1	53.0
# 3	홍길동	남자	24	4	무	B	175.0	80.1
# 4	김철수	남자	23	3	무	AB	182.1	85.7
# 8	이희수	여자	23	1	무	A	176.9	55.0
# 9	이철린	남자	23	3	무	B	178.5	64.2
# 10	방희철	남자	22	2	무	B	176.1	61.3
# 12	임동민	남자	22	2	무	AB	180.0	75.8
# 14	이희진	여자	23	3	무	O	176.1	53.1

   name   gender age grade absence bloodtype height weight
2  이미린 여자   22  2     무      AB        170.1  53.0
3  홍길동 남자   24  4     무      B         175.0  80.1
4  김철수 남자   23  3     무      AB        182.1  85.7
8  이희수 여자   23  1     무      A         176.9  55.0
9  이철린 남자   23  3     무      B         178.5  64.2
10 방희철 남자   22  2     무      B         176.1  61.3
12 임동민 남자   22  2     무      AB        180.0  75.8
14 이희진 여자   23  3     무      O         176.1  53.1

In [113]:
# -는 뺀다는 의미
stu2 <- subset(stu, select=c(-age, -grade, -absence, -bloodtype))
stu2
# name	gender	height	weight
# 2	이미린	여자	170.1	53.0
# 3	홍길동	남자	175.0	80.1
# 4	김철수	남자	182.1	85.7
# 8	이희수	여자	176.9	55.0
# 9	이철린	남자	178.5	64.2
# 10	방희철	남자	176.1	61.3
# 12	임동민	남자	180.0	75.8
# 14	이희진	여자	176.1	53.1

   name   gender height weight
2  이미린 여자   170.1  53.0
3  홍길동 남자   175.0  80.1
4  김철수 남자   182.1  85.7
8  이희수 여자   176.9  55.0
9  이철린 남자   178.5  64.2
10 방희철 남자   176.1  61.3
12 임동민 남자   180.0  75.8
14 이희진 여자   176.1  53.1

In [115]:
colnames(df)
colnames(df)[1]
# 'name' 'gender' 'age' 'grade' 'absence' 'bloodtype' 'height' 'weight'
# 'name'

[1] "name"      "gender"    "age"       "grade"     "absence"   "bloodtype"
[7] "height"    "weight"

[1] "name"

In [116]:
bmi <- df$weight / ((df$height/100) ** 2)  # 체중 (kg) / (신장 (m)/100)²
bmi
# 모든 학생에 대한 bmi
# 24.9596601387274 18.3175439560573 26.1551020408163 25.844071288624 17.5382653061225 19.8140527358634 18.8067940269954 17.5754730758132 20.1492361650543 19.7670455296649 22.2043870854987 23.3950617283951 21.0195508429866 17.1228404180295 18.0603214737222 24.6957358696065 21.726494866679

 [1] 24.95966 18.31754 26.15510 25.84407 17.53827 19.81405 18.80679 17.57547
 [9] 20.14924 19.76705 22.20439 23.39506 21.01955 17.12284 18.06032 24.69574
[17] 21.72649

In [118]:
stu <- subset(df, select=c(-age, -grade, -absence, -bloodtype))
stu <- cbind(stu, bmi) # bmi 컬럼 추가
head(stu)  # 6건
# name	gender	height	weight	bmi
# 김길동	남자	165.3	68.2	24.95966
# 이미린	여자	170.1	53.0	18.31754
# 홍길동	남자	175.0	80.1	26.15510
# 김철수	남자	182.1	85.7	25.84407
# 손세수	여자	168.0	49.5	17.53827
# 박미희	여자	162.0	52.0	19.81405

  name   gender height weight bmi
1 김길동 남자   165.3  68.2   24.95966
2 이미린 여자   170.1  53.0   18.31754
3 홍길동 남자   175.0  80.1   26.15510
4 김철수 남자   182.1  85.7   25.84407
5 손세수 여자   168.0  49.5   17.53827
6 박미희 여자   162.0  52.0   19.81405

In [36]:
# 데이터 파일 결합
stu <- read.csv('studentlist.csv', fileEncoding='utf-8', encoding='utf-8')
foot <- read.csv('footsize.csv', fileEncoding='utf-8', encoding='utf-8')

In [37]:
str(stu)
str(foot)
# 'data.frame':	17 obs. of  8 variables:
#  $ name     : Factor w/ 17 levels "강수친","김길동",..: 2 12 17 6 10 7 1 14 13 9 ...
#  $ gender   : Factor w/ 2 levels "남자","여자": 1 2 1 1 2 2 2 2 1 1 ...
#  $ age      : int  23 22 24 23 20 21 22 23 23 22 ...
#  $ grade    : int  3 2 4 3 1 2 1 1 3 2 ...
#  $ absence  : Factor w/ 2 levels "무","유": 2 1 1 1 2 1 1 1 1 1 ...
#  $ bloodtype: Factor w/ 4 levels "A","AB","B","O": 4 2 3 2 1 4 4 1 3 3 ...
#  $ height   : num  165 170 175 182 168 ...
#  $ weight   : num  68.2 53 80.1 85.7 49.5 52 45.3 55 64.2 61.3 ...
# 'data.frame':	17 obs. of  2 variables:
#  $ name    : Factor w/ 17 levels "강수친","김길동",..: 1 2 3 4 5 6 7 8 9 10 ...
#  $ footsize: int  245 270 265 235 270 280 240 NA 275 240 ...

'data.frame':	17 obs. of  8 variables:
 $ name     : Factor w/ 17 levels "강수친","김길동",..: 2 12 17 6 10 7 1 14 13 9 ...
 $ gender   : Factor w/ 2 levels "남자","여자": 1 2 1 1 2 2 2 2 1 1 ...
 $ age      : int  23 22 24 23 20 21 22 23 23 22 ...
 $ grade    : int  3 2 4 3 1 2 1 1 3 2 ...
 $ absence  : Factor w/ 2 levels "무","유": 2 1 1 1 2 1 1 1 1 1 ...
 $ bloodtype: Factor w/ 4 levels "A","AB","B","O": 4 2 3 2 1 4 4 1 3 3 ...
 $ height   : num  165 170 175 182 168 ...
 $ weight   : num  68.2 53 80.1 85.7 49.5 52 45.3 55 64.2 61.3 ...
'data.frame':	17 obs. of  2 variables:
 $ name    : Factor w/ 17 levels "강수친","김길동",..: 1 2 3 4 5 6 7 8 9 10 ...
 $ footsize: int  245 270 265 235 270 280 240 NA 275 240 ...

In [38]:
stu_foot <- merge(stu, foot, by='name') # name이 같은 관측치를 결합
head(stu_foot)
# name	gender	age	grade	absence	bloodtype	height	weight	footsize
# 강수친	여자	22	1	무	O	155.2	45.3	245
# 김길동	남자	23	3	유	O	165.3	68.2	270
# 김동수	남자	24	4	유	B	168.6	70.2	265
# 김미진	여자	22	2	무	B	158.2	45.2	235
# 김민수	남자	21	1	무	A	162.2	55.3	270
# 김철수	남자	23	3	무	AB	182.1	85.7	280

  name   gender age grade absence bloodtype height weight footsize
1 강수친 여자   22  1     무      O         155.2  45.3   245
2 김길동 남자   23  3     유      O         165.3  68.2   270
3 김동수 남자   24  4     유      B         168.6  70.2   265
4 김미진 여자   22  2     무      B         158.2  45.2   235
5 김민수 남자   21  1     무      A         162.2  55.3   270
6 김철수 남자   23  3     무      AB        182.1  85.7   280

In [123]:
stu_foot  # footsize NA는 변수명은 존재하나 값이 없는 경우 출력 null 비슷

   name   gender age grade absence bloodtype height weight footsize
1  강수친 여자   22  1     무      O         155.2  45.3   245
2  김길동 남자   23  3     유      O         165.3  68.2   270
3  김동수 남자   24  4     유      B         168.6  70.2   265
4  김미진 여자   22  2     무      B         158.2  45.2   235
5  김민수 남자   21  1     무      A         162.2  55.3   270
6  김철수 남자   23  3     무      AB        182.1  85.7   280
7  박미희 여자   21  2     무      O         162.0  52.0   240
8  박수호 남자   24  4     유      O         167.1  62.0    NA
9  방희철 남자   22  2     무      B         176.1  61.3   275
10 손세수 여자   20  1     유      A         168.0  49.5   240
11 여수근 남자   21  1     무      A         169.2  62.2   265
12 이미린 여자   22  2     무      AB        170.1  53.0   245
13 이철린 남자   23  3     무      B         178.5  64.2    NA
14 이희수 여자   23  1     무      A         176.9  55.0   245
15 이희진 여자   23  3     무      O         176.1  53.1   245
16 임동민 남자   22  2     무      AB        180.0  75.8   280
17 홍길동 남자   24  4     무      B         175.0  80.1   275