In [1]:
x <- list("ANN", 2500000, c("R", "Python", "Machine"))
print(x)

# [[1]]
# [1] "ANN"  -> character

# [[2]]
# [1] 2500000 -> numeric

# [[3]]
# [1] "R"       "Python"  "Machine"  -> vector

print(mode(x)) # "list"
print(class(x)) # "list"

[[1]]
[1] "ANN"

[[2]]
[1] 2500000

[[3]]
[1] "R"       "Python"  "Machine"

[1] "list"
[1] "list"

In [2]:
print(x[1])

# [[1]]
# [1] "ANN"

print(mode(x[1])) # "list"
print(mode(x[1])) # "list"
# list에 저장되는 요소도 타입이 list로 지정

[[1]]
[1] "ANN"

[1] "list"
[1] "list"

In [3]:
# 리스트 이름 지정 
x <- list("ai"="ANN", "pay"=2500000, "dev"=c("R", "Python", "Machine"))
x
# $ai
# 'ANN'
# $pay
# 2500000
# $dev
# 'R' 'Python' 'Machine'

$ai
[1] "ANN"

$pay
[1] 2500000

$dev
[1] "R"       "Python"  "Machine"

In [4]:
print(x)
# $ai
# [1] "ANN"

# $pay
# [1] 2500000

# $dev
# [1] "R"       "Python"  "Machine"

$ai
[1] "ANN"

$pay
[1] 2500000

$dev
[1] "R"       "Python"  "Machine"

In [5]:
# 이름으로 요소에 접근
x$ai
x$pay
x$dev
# 'ANN'
# 2500000
# 'R' 'Python' 'Machine'

[1] "ANN"

[1] 2500000

[1] "R"       "Python"  "Machine"

In [6]:
# 이름으로 접근 시 정확한 타입을 알 수 있음
class(x)
# 'list'
class(x$ai)
# 'character'
class(x$pay)
# 'numeric'
class(x$dev)
# 'character'

# R의 버그, 권장하지 않는 패턴, list가 순환되어 출력됨
x[1]
# $ai = 'ANN'
x[1][1]
# $ai = 'ANN'
class(x[1])
# 'list'
class(x[1][1])
# 'list'

# 요소의 인덱스 접근, 권장하지 않음
x[[1]] # 'ANN'
mode(x[[1]]) # 'character'
class(x[[1]]) # 'character'
x[[2]] # 2500000

[1] "list"

[1] "character"

[1] "numeric"

[1] "character"

$ai
[1] "ANN"

$ai
[1] "ANN"

[1] "list"

[1] "list"

[1] "ANN"

[1] "character"

[1] "character"

[1] 2500000

In [7]:
getwd()
#'C:/ai6/ws_bigdata/notebook/core'

[1] "C:/ai6/ws_bigdata/notebook/core"

In [8]:
setwd('C:/ai6/ws_bigdata/notebook/core/files')

In [9]:
df <- read.csv('studentlist.csv', fileEncoding='utf-8', encoding='utf-8')
class(df)
df

# 'data.frame'
# name	gender	age	grade	absence	bloodtype	height	weight
# 김길동	남자	23	3	유	O	165.3	68.2
# 이미린	여자	22	2	무	AB	170.1	53.0
# 홍길동	남자	24	4	무	B	175.0	80.1
# 김철수	남자	23	3	무	AB	182.1	85.7
# 손세수	여자	20	1	유	A	168.0	49.5
# 박미희	여자	21	2	무	O	162.0	52.0
# 강수친	여자	22	1	무	O	155.2	45.3
# 이희수	여자	23	1	무	A	176.9	55.0
# 이철린	남자	23	3	무	B	178.5	64.2
# 방희철	남자	22	2	무	B	176.1	61.3
# 박수호	남자	24	4	유	O	167.1	62.0
# 임동민	남자	22	2	무	AB	180.0	75.8
# 김민수	남자	21	1	무	A	162.2	55.3
# 이희진	여자	23	3	무	O	176.1	53.1
# 김미진	여자	22	2	무	B	158.2	45.2
# 김동수	남자	24	4	유	B	168.6	70.2
# 여수근	남자	21	1	무	A	169.2	62.2

[1] "data.frame"

   name   gender age grade absence bloodtype height weight
1  김길동 남자   23  3     유      O         165.3  68.2
2  이미린 여자   22  2     무      AB        170.1  53.0
3  홍길동 남자   24  4     무      B         175.0  80.1
4  김철수 남자   23  3     무      AB        182.1  85.7
5  손세수 여자   20  1     유      A         168.0  49.5
6  박미희 여자   21  2     무      O         162.0  52.0
7  강수친 여자   22  1     무      O         155.2  45.3
8  이희수 여자   23  1     무      A         176.9  55.0
9  이철린 남자   23  3     무      B         178.5  64.2
10 방희철 남자   22  2     무      B         176.1  61.3
11 박수호 남자   24  4     유      O         167.1  62.0
12 임동민 남자   22  2     무      AB        180.0  75.8
13 김민수 남자   21  1     무      A         162.2  55.3
14 이희진 여자   23  3     무      O         176.1  53.1
15 김미진 여자   22  2     무      B         158.2  45.2
16 김동수 남자   24  4     유      B         168.6  70.2
17 여수근 남자   21  1     무      A         169.2  62.2

In [10]:
no <- c(1:10) # 1~10  -> 1~9 아님**
menu <- c('김밥', '만두', '라면')
pass <- c(TRUE, FALSE, TRUE)
lt <- list(df, no, menu, pass) # 다양한 데이터 타입 저장 가능
lt
# name	gender	age	grade	absence	bloodtype	height	weight
# 김길동	남자	23	3	유	O	165.3	68.2
# 이미린	여자	22	2	무	AB	170.1	53.0
# 홍길동	남자	24	4	무	B	175.0	80.1
# 김철수	남자	23	3	무	AB	182.1	85.7
# 손세수	여자	20	1	유	A	168.0	49.5
# 박미희	여자	21	2	무	O	162.0	52.0
# 강수친	여자	22	1	무	O	155.2	45.3
# 이희수	여자	23	1	무	A	176.9	55.0
# 이철린	남자	23	3	무	B	178.5	64.2
# 방희철	남자	22	2	무	B	176.1	61.3
# 박수호	남자	24	4	유	O	167.1	62.0
# 임동민	남자	22	2	무	AB	180.0	75.8
# 김민수	남자	21	1	무	A	162.2	55.3
# 이희진	여자	23	3	무	O	176.1	53.1
# 김미진	여자	22	2	무	B	158.2	45.2
# 김동수	남자	24	4	유	B	168.6	70.2
# 여수근	남자	21	1	무	A	169.2	62.2
# 1 2 3 4 5 6 7 8 9 10
# '김밥' '만두' '라면'
# TRUE FALSE TRUE

[[1]]
     name gender age grade absence bloodtype height weight
1  김길동   남자  23     3      유         O  165.3   68.2
2  이미린   여자  22     2      무        AB  170.1   53.0
3  홍길동   남자  24     4      무         B  175.0   80.1
4  김철수   남자  23     3      무        AB  182.1   85.7
5  손세수   여자  20     1      유         A  168.0   49.5
6  박미희   여자  21     2      무         O  162.0   52.0
7  강수친   여자  22     1      무         O  155.2   45.3
8  이희수   여자  23     1      무         A  176.9   55.0
9  이철린   남자  23     3      무         B  178.5   64.2
10 방희철   남자  22     2      무         B  176.1   61.3
11 박수호   남자  24     4      유         O  167.1   62.0
12 임동민   남자  22     2      무        AB  180.0   75.8
13 김민수   남자  21     1      무         A  162.2   55.3
14 이희진   여자  23     3      무         O  176.1   53.1
15 김미진   여자  22     2      무         B  158.2   45.2
16 김동수   남자  24     4      유         B  168.6   70.2
17 여수근   남자  21     1      무         A  169.2   62.2

[[2]]
 [1]  1  2  3  4  5  6  7  8  9 10

[[3]]
[1] "김밥" "만두" "라면"

[[4]]
[1]  TRUE FALSE  TRUE

In [11]:
# 리스트에 이름 적용 -> 리스트로 접근 가능
lt <- list(employee=df, grade=no, food=menu, success=pass)
lt
# $employee
# name	gender	age	grade	absence	bloodtype	height	weight
# 김길동	남자	23	3	유	O	165.3	68.2
# 이미린	여자	22	2	무	AB	170.1	53.0
# 홍길동	남자	24	4	무	B	175.0	80.1
# 김철수	남자	23	3	무	AB	182.1	85.7
# 손세수	여자	20	1	유	A	168.0	49.5
# 박미희	여자	21	2	무	O	162.0	52.0
# 강수친	여자	22	1	무	O	155.2	45.3
# 이희수	여자	23	1	무	A	176.9	55.0
# 이철린	남자	23	3	무	B	178.5	64.2
# 방희철	남자	22	2	무	B	176.1	61.3
# 박수호	남자	24	4	유	O	167.1	62.0
# 임동민	남자	22	2	무	AB	180.0	75.8
# 김민수	남자	21	1	무	A	162.2	55.3
# 이희진	여자	23	3	무	O	176.1	53.1
# 김미진	여자	22	2	무	B	158.2	45.2
# 김동수	남자	24	4	유	B	168.6	70.2
# 여수근	남자	21	1	무	A	169.2	62.2
# $grade
# 1 2 3 4 5 6 7 8 9 10
# $food
# '김밥' '만두' '라면'
# $success
# TRUE FALSE TRUE

$employee
     name gender age grade absence bloodtype height weight
1  김길동   남자  23     3      유         O  165.3   68.2
2  이미린   여자  22     2      무        AB  170.1   53.0
3  홍길동   남자  24     4      무         B  175.0   80.1
4  김철수   남자  23     3      무        AB  182.1   85.7
5  손세수   여자  20     1      유         A  168.0   49.5
6  박미희   여자  21     2      무         O  162.0   52.0
7  강수친   여자  22     1      무         O  155.2   45.3
8  이희수   여자  23     1      무         A  176.9   55.0
9  이철린   남자  23     3      무         B  178.5   64.2
10 방희철   남자  22     2      무         B  176.1   61.3
11 박수호   남자  24     4      유         O  167.1   62.0
12 임동민   남자  22     2      무        AB  180.0   75.8
13 김민수   남자  21     1      무         A  162.2   55.3
14 이희진   여자  23     3      무         O  176.1   53.1
15 김미진   여자  22     2      무         B  158.2   45.2
16 김동수   남자  24     4      유         B  168.6   70.2
17 여수근   남자  21     1      무         A  169.2   62.2

$grade
 [1]  1  2  3  4  5  6  7  8  9 10

$food
[1] "김밥" "만두" "라면"

$success
[1]  TRUE FALSE  TRUE

In [12]:
lt$food
# '김밥' '만두' '라면'

[1] "김밥" "만두" "라면"

In [13]:
lt['food']
# $food =
# '김밥' '만두' '라면'

$food
[1] "김밥" "만두" "라면"

In [14]:
# 리스트 삭제
lt['employee'] <- NULL  # Dataframe 삭제, 대소문자 구분

In [15]:
lt
# $grade
# 1 2 3 4 5 6 7 8 9 10
# $food
# '김밥' '만두' '라면'
# $success
# TRUE FALSE TRUE

$grade
 [1]  1  2  3  4  5  6  7  8  9 10

$food
[1] "김밥" "만두" "라면"

$success
[1]  TRUE FALSE  TRUE

In [16]:
# 리스트의 1번째 요소, 리스트의 2번째요소
lt[c(1, 2)]
# $grade
# 1 2 3 4 5 6 7 8 9 10
# $food
# '김밥' '만두' '라면'

$grade
 [1]  1  2  3  4  5  6  7  8  9 10

$food
[1] "김밥" "만두" "라면"

In [17]:
# 이름 변경 names함수 사용
names(lt)[3] <- 'flag' # list 요소 이름 변경
lt$flag # -> 3번째 요소 success의 이름이 flag로 변경
# TRUE FALSE TRUE

[1]  TRUE FALSE  TRUE

In [18]:
lt <- list('왕눈이', 90, 'A')
lt
is(lt) # is(): 데이터 타입 모두 보기
class(lt)
# '왕눈이'
# 90
# 'A'
# 'list' 'vector' 'listOrNULL'
# 'list'

[[1]]
[1] "왕눈이"

[[2]]
[1] 90

[[3]]
[1] "A"

[1] "list"       "vector"     "listOrNULL"

[1] "list"

In [19]:
# list에서 스칼라 값으로 분리
ult <- unlist(lt)  
ult
is(ult)
class(ult)
# '왕눈이' '90' 'A'
# 'character' 'vector' 'data.frameRowLabels' 'SuperClassMethod'
# 'character'

ult[1]
ult[2]
ult[3]
# '왕눈이'
# '90'
# 'A'

[1] "왕눈이" "90"     "A"

[1] "character"           "vector"              "data.frameRowLabels"
[4] "SuperClassMethod"

[1] "character"

[1] "왕눈이"

[1] "90"

[1] "A"

In [23]:
a <- list(c(1:5))
print(a)
print('-------------')
print(a[1])
print('-------------')
print(a[1][1])
# [[1]]
# [1] 1 2 3 4 5

# [1] "-------------"
# [[1]]
# [1] 1 2 3 4 5

# [1] "-------------"
# [[1]]
# [1] 1 2 3 4 5

[[1]]
[1] 1 2 3 4 5

[1] "-------------"
[[1]]
[1] 1 2 3 4 5

[1] "-------------"
[[1]]
[1] 1 2 3 4 5

In [24]:
print('-------------')
print(a[[1]]) # --> 대괄호 두번 써야 요소 리스트에 접근한다. 
# -> 문법적으로 특이히다
print('-------------')
print(a[[1]][1]) # 대괄호 2번 쓰고 1번 써야 개별 요소에 접근
# [1] "-------------"
# [1] 1 2 3 4 5
# [1] "-------------"
# [1] 1

[1] "-------------"
[1] 1 2 3 4 5
[1] "-------------"
[1] 1

In [27]:

b <- list(c(6:10))
c <- list(a, b) # a list, b list 결합, [[1]][[1]]: list안에 list 포함을 표현
print(c)
# [[1]]
# [[1]][[1]]
# [1] 1 2 3 4 5


# [[2]]
# [[2]][[1]]
# [1]  6  7  8  9 10

[[1]]
[[1]][[1]]
[1] 1 2 3 4 5


[[2]]
[[2]][[1]]
[1]  6  7  8  9 10

In [28]:
print(c[[1]])
print(c[[2]])
# [[1]]
# [1] 1 2 3 4 5

# [[1]]
# [1]  6  7  8  9 10

print(c[1])
# [[1]]
# [[1]][[1]]
# [1] 1 2 3 4 5

[[1]]
[1] 1 2 3 4 5

[[1]]
[1]  6  7  8  9 10

[[1]]
[[1]][[1]]
[1] 1 2 3 4 5

In [29]:
print(c[1])
# [[1]]          <-- 전체 리스트
# [[1]][[1]]     <-- 리스트안의 첫번째 리스트
# [1] 1 2 3 4 5  <-- 리스트의 요소

[[1]]
[[1]][[1]]
[1] 1 2 3 4 5

In [30]:
d <- c[[1]] # c라는 list안의 list 추출, 대괄호 사용
class(d)
print(d)
# 'list'
# [[1]]          <-- list를 나타냄
# [1] 1 2 3 4 5  <-- 요소를 출력

[1] "list"

[[1]]
[1] 1 2 3 4 5

In [31]:
# cat 함수, cat함수는 return이 없다.
cat(d[[1]][1], d[[1]][2], d[[1]][3]) # [[1]][1]: 첫번째 list의 첫번째 요소
# 1 2 3

1 2 3

In [32]:
sprintf('%5d %5d %5d', d[[1]][1], d[[1]][2], d[[1]][3]) # 형식 출력
# '    1     2     3'

[1] "    1     2     3"

In [35]:
# list에는 apply 함수말고 lapply를 사용함.
a
a_max <- lapply(a, max) # 리스트를 반환, a 리스트에서 최대값 리턴
print(a_max)
class(a_max)
# 1 2 3 4 5

# [[1]]
# [1] 5

# 'list'

[[1]]
[1] 1 2 3 4 5

[[1]]
[1] 5

[1] "list"

In [36]:
print(a_max[1])    # list 자신
print(a_max[[1]])  # list의 요소
cat('max: ', a_max[[1]])
# [[1]]
# [1] 5

# [1] 5
# max:  5

[[1]]
[1] 5

[1] 5
max:  5

In [37]:
a_min <- lapply(a, min)
cat('min: ', a_min[[1]])
# min:  1

min:  1

In [38]:
ab_mean <- lapply(c(a, b), mean) # 2개의 a list, b list에서 각각 평균이 산출
cat('a mean: ', ab_mean[[1]], ' / ','b mean: ', ab_mean[[2]])
# a mean:  3  /  b mean:  8

a mean:  3  /  b mean:  8

In [39]:
lt <- list(c(1:5), c(6:10)) # list의 요소는 vector 임, 행 우선 결합(리스트 타입)
print(lt)
class(lt)
# [[1]]
# [1] 1 2 3 4 5

# [[2]]
# [1]  6  7  8  9 10

# 'list'

[[1]]
[1] 1 2 3 4 5

[[2]]
[1]  6  7  8  9 10

[1] "list"

In [56]:
ltc <- do.call(cbind, lt) # 리스트를 컬럼(열) 결합으로 변경(행렬로 반환)
print(ltc)
class(ltc)
#      [,1] [,2]
# [1,]    1    6
# [2,]    2    7
# [3,]    3    8
# [4,]    4    9
# [5,]    5   10
# 'matrix'

     [,1] [,2]
[1,]    1    6
[2,]    2    7
[3,]    3    8
[4,]    4    9
[5,]    5   10

[1] "matrix"

In [58]:
ltr <- do.call(rbind, lt) # 행방향 결합
print(ltr)
class(ltr)
#      [,1] [,2] [,3] [,4] [,5]
# [1,]    1    2    3    4    5
# [2,]    6    7    8    9   10
# 'matrix'

     [,1] [,2] [,3] [,4] [,5]
[1,]    1    2    3    4    5
[2,]    6    7    8    9   10

[1] "matrix"

In [60]:
ltm <- do.call(min, lt)
print(ltm)
class(ltm)
# [1] 1
# 'integer'

[1] 1

[1] "integer"

In [61]:
ltx <- do.call(max, lt)
print(ltx)
class(ltx)
# [1] 10
# 'integer'

[1] 10

[1] "integer"

In [64]:
print(lt) # 2개의 vector가 구성되어 있음
# [[1]]
# [1] 1 2 3 4 5

# [[2]]
# [1]  6  7  8  9 10

[[1]]
[1] 1 2 3 4 5

[[2]]
[1]  6  7  8  9 10

In [40]:
print(class(lt))       # list 자신 
print(class(lt[1]))    # list 자신
print(class(lt[[1]]))  # 첫번째 vector의 요소 타입

# [1] "list"
# [1] "list"
# [1] "integer"

[1] "list"
[1] "list"
[1] "integer"

In [41]:
print(lt[[1]])         # 첫번째 vector
print(lt[[2]])         # 두번째 vector
# [1] 1 2 3 4 5
# [1]  6  7  8  9 10

[1] 1 2 3 4 5
[1]  6  7  8  9 10

In [72]:
lt_mean <- do.call(mean, lt) # ERROR, 각각의 vector에는 작동하지 않음.
# Error in mean.default(1:5, 6:10): 'trim' must be numeric of length one

ERROR: Error in mean.default(1:5, 6:10): 'trim' must be numeric of length one

In [74]:
lt2 <- list(list(c(1:5)), list(c(6:10)))
lt2
m <- do.call(mean, lt2)  # ERROR, 각각의 list에는 작동하지 않음.
m
# 1 2 3 4 5
# 6 7 8 9 10

[[1]]
[[1]][[1]]
[1] 1 2 3 4 5


[[2]]
[[2]][[1]]
[1]  6  7  8  9 10

Warning message in mean.default(list(1:5), list(6:10)):
"argument is not numeric or logical: returning NA"

[1] NA