In [1]:
import pandas as pd
import os

In [3]:
# csv read
kto2 = pd.read_csv('./output/kto2.csv')
kto2.head()

,국적,관광,상용,공용,유학/연수,기타,계,기준년월,대륙,관광객 비율(%),전체비율(%)
0,일본,198805,2233,127,785,4576,206526,2019-01,아시아,96.3,22.5
1,대만,86393,74,22,180,1285,87954,2019-01,아시아,98.2,9.8
2,홍콩,34653,59,2,90,1092,35896,2019-01,아시아,96.5,3.9
3,마카오,2506,2,0,17,45,2570,2019-01,아시아,97.5,0.3
4,태국,34004,37,199,96,6998,41334,2019-01,아시아,82.3,3.8

In [4]:
# 마지막 5개의 행 출력
kto2.tail()

,국적,관광,상용,공용,유학/연수,기타,계,기준년월,대륙,관광객 비율(%),전체비율(%)
55,대양주 기타,555,3,4,0,52,614,2019-01,오세아니아,90.4,0.1
56,남아프리카공화국,368,9,1,6,616,1000,2019-01,아프리카,36.8,0.0
57,아프리카 기타,768,718,90,206,908,2690,2019-01,아프리카,28.6,0.1
58,국적미상,33,4,0,1,16,54,2019-01,기타대륙,61.1,0.0
59,교포,0,0,0,0,15526,15526,2019-01,교포,0.0,0.0

In [ ]:
# 1년은 12개월의 구조를 가지고 있고, 해가 변경될 때마다 월이 반복되므로
# 함수로 제작할 필요가 있음
# 2010년 1월부터 2020년 3월까지의 데이터 통합

In [12]:
# 날짜를 기준으로 통합을 진행함.
# 2019-01, 자리수가 일치하지 않는 문제 발생(2 -> 02로 변경, ''.zfill(n) 사용)
for yy in range(2010, 2021): # 2010~2020
    for mm in range(1, 13): # 01~12
        yymm = '{0}-{1}'.format(yy, str(mm).zfill(2))
        print(yymm, '', end='')

2010-01 2010-02 2010-03 2010-04 2010-05 2010-06 2010-07 2010-08 2010-09 2010-10 2010-11 2010-12 2011-01 2011-02 2011-03 2011-04 2011-05 2011-06 2011-07 2011-08 2011-09 2011-10 2011-11 2011-12 2012-01 2012-02 2012-03 2012-04 2012-05 2012-06 2012-07 2012-08 2012-09 2012-10 2012-11 2012-12 2013-01 2013-02 2013-03 2013-04 2013-05 2013-06 2013-07 2013-08 2013-09 2013-10 2013-11 2013-12 2014-01 2014-02 2014-03 2014-04 2014-05 2014-06 2014-07 2014-08 2014-09 2014-10 2014-11 2014-12 2015-01 2015-02 2015-03 2015-04 2015-05 2015-06 2015-07 2015-08 2015-09 2015-10 2015-11 2015-12 2016-01 2016-02 2016-03 2016-04 2016-05 2016-06 2016-07 2016-08 2016-09 2016-10 2016-11 2016-12 2017-01 2017-02 2017-03 2017-04 2017-05 2017-06 2017-07 2017-08 2017-09 2017-10 2017-11 2017-12 2018-01 2018-02 2018-03 2018-04 2018-05 2018-06 2018-07 2018-08 2018-09 2018-10 2018-11 2018-12 2019-01 2019-02 2019-03 2019-04 2019-05 2019-06 2019-07 2019-08 2019-09 2019-10 2019-11 2019-12 2020-01 2020-02 2020-03 2020-04 2020-05 2020-06 2020-07 2020-08 2020-09 2020-10 2020-11 2020-12

In [30]:
# 하나의 국가명을 전달 받아 대륙명을 리턴하는 함수
def getContinent(nation_name):
    continents = ''
    
    if "'일본', '대만', '홍콩', '마카오', '태국', \
        '말레이시아', '필리핀', '인도네시아',\
        '싱가포르', '미얀마', '베트남', '인도',\
        '스리랑카', '파키스탄', '방글라데시',\
        '캄보디아', '몽골', '중국', '이란', \
        '이스라엘', '터키', '우즈베키스탄', \
        '카자흐스탄', 'GCC', '아시아 기타'".find(nation_name) >= 0: 
        continents='아시아'
    elif "'미국', '캐나다', '멕시코', '브라질', \
         '미주 기타'".find(nation_name) >= 0: 
        continents='아메리카'
    elif "'영국', '독일', '프랑스', '네덜란드','스웨덴', '스위스', \
          '이탈리아', '덴마크', '노르웨이', '벨기에', '오스트리아',\
          '스페인', '그리스', '포르투갈', '핀란드', '아일랜드',\
          '우크라이나', '러시아', '크로아티아', '루마니아',\
          '불가리아', '폴란드', '구주 기타'".find(nation_name) >= 0:
        continents='유럽'
    elif "'오스트레일리아', '뉴질랜드', '대양주 기타'".find(nation_name) >= 0:
        continents='오세아니아'         
    elif "'남아프리카공화국', '아프리카 기타'".find(nation_name) >= 0:
        continents='아프리카'
    elif "'국적미상'".find(nation_name) >= 0:
        continents='기타대륙'         
    elif "'교포'".find(nation_name) >= 0:
        continents='교포'
    else:
        print(nation_name + ' 발견 안됨')
        
    return continents

In [31]:
getContinent('중국')

'아시아'

In [2]:
def getContinents(df):
    continents = [] # 대륙명 저장
    for i in range(len(df)):
        nation_name = df.loc[i][0]
        # print(nation_name) # 국가명
        if "'일본', '대만', '홍콩', '마카오', '태국', \
            '말레이시아', '필리핀', '인도네시아',\
            '싱가포르', '미얀마', '베트남', '인도',\
            '스리랑카', '파키스탄', '방글라데시',\
            '캄보디아', '몽골', '중국', '이란', \
            '이스라엘', '터키', '우즈베키스탄', \
            '카자흐스탄', 'GCC', '아시아 기타'".find(nation_name) >= 0: 
            continents.append('아시아')
        elif "'미국', '캐나다', '멕시코', '브라질', \
             '미주 기타'".find(nation_name) >= 0: 
            continents.append('아메리카') 
        elif "'영국', '독일', '프랑스', '네덜란드','스웨덴', '스위스', \
              '이탈리아', '덴마크', '노르웨이', '벨기에', '오스트리아',\
              '스페인', '그리스', '포르투갈', '핀란드', '아일랜드',\
              '우크라이나', '러시아', '크로아티아', '루마니아',\
              '불가리아', '폴란드', '구주 기타'".find(nation_name) >= 0:
            continents.append('유럽') 
        elif "'오스트레일리아', '뉴질랜드', '대양주 기타'".find(nation_name) >= 0:
            continents.append('오세아니아')         
        elif "'남아프리카공화국', '아프리카 기타'".find(nation_name) >= 0:
            continents.append('아프리카')  
        elif "'국적미상'".find(nation_name) >= 0:
            continents.append('기타대륙')          
        elif "'교포'".find(nation_name) >= 0:
            continents.append('교포')
    return continents
# getContinents(df)

In [8]:
# 년월을 입력 받아 DataFrame을 리턴하는 함수
def create_data(yy, mm):
    df = pd.DataFrame() # return 할 객체
    mm = str(mm).zfill(2) # 1 -> 01
    file_path = './data/kto_{0}{1}.xlsx'.format(yy, mm)
    if os.path.exists(file_path):
        df = pd.read_excel(file_path, header=1, skipfooter=4, usecols='A:G')
        
        # 기준년월 칼럼 추가
        df['기준년월'] = '{0}-{1}'.format(yy, mm)
        
        # 순수 국가명만 추출
        continents = ['아시아주', '미주', '구주', '대양주', \
                      '아프리카주', '기타대륙', '교포소계']
        df = df[df.국적.isin(continents) == False]
        df = df.reset_index(drop=True) # 다시 인덱스를 0부터 설정
        
        # 대륙 칼럼 추가
        df['대륙'] = getContinents(df)
        
        # 관광객 비율(%)
        df['관광객 비율(%)'] = round(df['관광']/df['계']*100, 1)
        
        # 관광 / 전체 관광객 * 100 = 전체비율(%)
        tour_sum= sum(df['관광'])
        df['전체비율(%)'] = round(df['관광']/tour_sum*100, 1)
    return df

In [21]:
df = create_data(2020, 4)
df

,국적,관광,상용,공용,유학/연수,기타,계,기준년월,대륙,관광객 비율(%),전체비율(%)
0,일본,406383,4301,223,3488,9480,423875,2020-04,아시아,95.9,25.9
1,대만,160826,161,32,815,2302,164136,2020-04,아시아,98.0,10.2
2,홍콩,86396,81,10,514,1224,88225,2020-04,아시아,97.9,5.5
3,마카오,5800,5,0,40,22,5867,2020-04,아시아,98.9,0.4
4,태국,57780,98,328,440,14267,72913,2020-04,아시아,79.2,3.7
5,말레이시아,40318,174,10,732,5898,47132,2020-04,아시아,85.5,2.6
6,필리핀,30218,238,296,461,25490,56703,2020-04,아시아,53.3,1.9
7,인도네시아,28093,153,138,1061,11422,40867,2020-04,아시아,68.7,1.8
8,싱가포르,13925,139,19,202,2629,16914,2020-04,아시아,82.3,0.9
9,미얀마,3326,17,66,426,9420,13255,2020-04,아시아,25.1,0.2
10,베트남,28616,1393,115,20303,20763,71190,2020-04,아시아,40.2,1.8
11,인도,5053,3115,84,544,8089,16885,2020-04,아시아,29.9,0.3
12,스리랑카,314,53,2,85,2635,3089,2020-04,아시아,10.2,0.0
13,파키스탄,526,364,50,566,1086,2592,2020-04,아시아,20.3,0.0
14,방글라데시,383,203,45,377,1864,2872,2020-04,아시아,13.3,0.0
15,캄보디아,3118,71,261,215,4890,8555,2020-04,아시아,36.4,0.2
16,몽골,15542,132,637,1983,1718,20012,2020-04,아시아,77.7,1.0
17,중국,448418,3714,112,39686,114367,606297,2020-04,아시아,74.0,28.5
18,이란,101,72,3,94,113,383,2020-04,아시아,26.4,0.0
19,이스라엘,1114,21,5,16,88,1244,2020-04,아시아,89.5,0.1
20,터키,1588,34,16,152,2470,4260,2020-04,아시아,37.3,0.1
21,우즈베키스탄,4189,1193,7,2027,6396,13812,2020-04,아시아,30.3,0.3
22,카자흐스탄,4736,38,8,400,2929,8111,2020-04,아시아,58.4,0.3
23,GCC,2448,96,9,208,288,3049,2020-04,아시아,80.3,0.2
24,아시아 기타,3052,882,157,1113,5759,10963,2020-04,아시아,27.8,0.2
25,미국,76061,793,6737,1220,41870,126681,2020-04,아메리카,60.0,4.8
26,캐나다,15784,74,64,171,9589,25682,2020-04,아메리카,61.5,1.0
27,멕시코,2518,9,24,227,1321,4099,2020-04,아메리카,61.4,0.2
28,브라질,2194,26,20,127,965,3332,2020-04,아메리카,65.8,0.1
29,미주 기타,4033,19,78,381,1143,5654,2020-04,아메리카,71.3,0.3
30,영국,11433,285,46,239,4151,16154,2020-04,유럽,70.8,0.7
31,독일,9014,422,63,821,4124,14444,2020-04,유럽,62.4,0.6
32,프랑스,7934,496,102,1490,2577,12599,2020-04,유럽,63.0,0.5
33,네덜란드,2801,54,13,257,2480,5605,2020-04,유럽,50.0,0.2
34,스웨덴,1309,54,10,133,214,1720,2020-04,유럽,76.1,0.1
35,스위스,1124,41,6,98,197,1466,2020-04,유럽,76.7,0.1
36,이탈리아,3135,194,33,152,1387,4901,2020-04,유럽,64.0,0.2
37,덴마크,1080,27,25,79,235,1446,2020-04,유럽,74.7,0.1
38,노르웨이,850,48,7,96,115,1116,2020-04,유럽,76.2,0.1
39,벨기에,883,44,8,66,489,1490,2020-04,유럽,59.3,0.1
40,오스트리아,990,20,5,60,447,1522,2020-04,유럽,65.0,0.1
41,스페인,2009,53,39,203,610,2914,2020-04,유럽,68.9,0.1
42,그리스,1001,61,10,9,480,1561,2020-04,유럽,64.1,0.1
43,포르투갈,844,10,0,29,223,1106,2020-04,유럽,76.3,0.1
44,핀란드,854,18,2,131,839,1844,2020-04,유럽,46.3,0.1
45,아일랜드,770,22,4,19,493,1308,2020-04,유럽,58.9,0.0
46,우크라이나,1420,188,17,92,2602,4319,2020-04,유럽,32.9,0.1
47,러시아,38550,393,57,547,18024,57571,2020-04,유럽,67.0,2.5
48,크로아티아,464,12,3,13,367,859,2020-04,유럽,54.0,0.0
49,루마니아,726,25,10,34,787,1582,2020-04,유럽,45.9,0.0
50,불가리아,322,4,4,27,335,692,2020-04,유럽,46.5,0.0
51,폴란드,1441,43,4,88,1593,3169,2020-04,유럽,45.5,0.1
52,구주 기타,3568,47,29,307,2308,6259,2020-04,유럽,57.0,0.2
53,오스트레일리아,18400,145,41,120,3074,21780,2020-04,오세아니아,84.5,1.2
54,뉴질랜드,4035,18,28,16,1741,5838,2020-04,오세아니아,69.1,0.3
55,대양주 기타,180,4,9,6,150,349,2020-04,오세아니아,51.6,0.0
56,남아프리카공화국,868,17,4,13,1633,2535,2020-04,아프리카,34.2,0.1
57,아프리카 기타,2171,1150,132,796,2956,7205,2020-04,아프리카,30.1,0.1
58,국적미상,76,2,0,2,35,115,2020-04,기타대륙,66.1,0.0
59,교포,0,0,0,0,18714,18714,2020-04,교포,0.0,0.0

In [26]:
kto = pd.DataFrame()
for yy in range(2010, 2021): # 2010~2020
    for mm in range(1, 13): # 01~12
        rdf = create_data(yy, mm)
        kto = kto.append(rdf, ignore_index=True) # 원본 인덱스를 유지하지 않고, 계속 증가시킴

In [27]:
kto

,국적,관광,상용,공용,유학/연수,기타,계,기준년월,대륙,관광객 비율(%),전체비율(%)
0,일본,202825,1750,89,549,3971,209184,2010-01,아시아,97.0,50.6
1,대만,35788,41,17,37,516,36399,2010-01,아시아,98.3,8.9
2,홍콩,13874,55,0,21,595,14545,2010-01,아시아,95.4,3.5
3,마카오,554,0,0,0,0,554,2010-01,아시아,100.0,0.1
4,태국,13374,39,13,53,4335,17814,2010-01,아시아,75.1,3.3
...,...,...,...,...,...,...,...,...,...,...,...
7435,대양주 기타,0,0,0,0,13,13,2020-04,오세아니아,0.0,0.0
7436,남아프리카공화국,2,0,0,0,20,22,2020-04,아프리카,9.1,0.0
7437,아프리카 기타,11,5,0,11,150,177,2020-04,아프리카,6.2,0.2
7438,국적미상,0,0,0,0,3,3,2020-04,기타대륙,0.0,0.0
7439,교포,0,0,0,0,698,698,2020-04,교포,0.0,0.0

In [28]:
kto.to_csv('./output/kto_total.csv', index=False, encoding='utf-8-sig')

In [29]:
kto_total = pd.read_csv('./output/kto_total.csv')
kto_total.head()

,국적,관광,상용,공용,유학/연수,기타,계,기준년월,대륙,관광객 비율(%),전체비율(%)
0,일본,202825,1750,89,549,3971,209184,2010-01,아시아,97.0,50.6
1,대만,35788,41,17,37,516,36399,2010-01,아시아,98.3,8.9
2,홍콩,13874,55,0,21,595,14545,2010-01,아시아,95.4,3.5
3,마카오,554,0,0,0,0,554,2010-01,아시아,100.0,0.1
4,태국,13374,39,13,53,4335,17814,2010-01,아시아,75.1,3.3