## 제어문

In [2]:
num1 <- 10
num2 <- 3
num1 / num2   # 실수 나누기 
# 3.33333333333333

num1 %/% num2 # 정수 나누기
# 3

num1 %% num2  # 나머지
# 1
num1 ^ num2   # n제곱
# 1000

num1 ** num2  # n제곱
# 1000

[1] 3.333333

[1] 3

[1] 1

[1] 1000

[1] 1000

In [3]:
x = 10
y = 5
z = x * y
if (z >= 40) {
  cat('40 이상',z) # concat과 같음
} else {
  cat('40 미만',z)  
}
# 40 이상 50

40 이상 50

In [4]:
score <- scan() # Jupyter 실행 안됨
score = 90

In [5]:
if (score >= 90) {
  res <- 'A'
} else if (score >= 80) {
  res <- 'B'
} else if (score >= 80) {
  res <- 'C'
} else if (score >= 80) {
  res <- 'D'
} else {
  res <- 'F'
}

cat('학점: ', score, res)
# 학점:  90 A

학점:  90 A

In [20]:
# and or에서 & |를 한번씩만 사용
r <- 60
cat(score, " ", r, "\n")

if (score >= 80 & r >= 70) { # and
  print('합격')
} else {
  print('추가 교육 실시')
}

if (score >= 80 | r >= 70) { # or
  print('합격')
} else {
  print('추가 교육 실시')
}
# 90   60 
# [1] "추가 교육 실시"
# [1] "합격"

90   60
[1] "추가 교육 실시"
[1] "합격"

In [6]:
vscore <- c(78, 95, 85)
vscore
# vector 요소에 대하여 if문이 작동됨.
pass <- ifelse(vscore >= 80, "합격", "추가 교육 실시")
class(pass)
pass

# 78 95 85
# 'character'
# '추가 교육 실시' '합격' '합격'

[1] 78 95 85

[1] "character"

[1] "추가 교육 실시" "합격"           "합격"

In [8]:
n <- 1:10  # 1 ~ 10 vector 생성
n
# 1 2 3 4 5 6 7 8 9 10
x <- ifelse(n %% 2 == 0, 0, 1) # 짝수이면 0, 데이터가 10개임으로 10번 출력
x
# 1 0 1 0 1 0 1 0 1 0
x <- ifelse(n %% 2 == 0, 'A', 'B') # 짝수이면 A
x
# 'B' 'A' 'B' 'A' 'B' 'A' 'B' 'A' 'B' 'A'

 [1]  1  2  3  4  5  6  7  8  9 10

 [1] 1 0 1 0 1 0 1 0 1 0

 [1] "B" "A" "B" "A" "B" "A" "B" "A" "B" "A"

In [10]:
# switch, if elseif else처럼 사용 가능
mon <- "12"
str <- switch(mon, "10"="October", "11"="November", "12"="December")
print(str)
# [1] "December"

[1] "December"

In [11]:
mon <- "December"
str <- switch(mon, October="10", November="11", December = "12")
print(str)
# "12"

[1] "12"

In [12]:
mon <- 3 # index 사용
str <- switch(mon, "October", "November", "December")
print(str)
# [1] "December"

[1] "December"

In [6]:
# R 내장 상수
?letters

In [7]:
letters
# 'a' 'b' 'c' 'd' 'e' 'f' 'g' 'h' 'i' 'j' 'k' 'l' 'm' 'n' 'o' 'p' 'q' 'r' 's' 't' 'u' 'v' 'w' 'x' 'y' 'z'

 [1] "a" "b" "c" "d" "e" "f" "g" "h" "i" "j" "k" "l" "m" "n" "o" "p" "q" "r" "s"
[20] "t" "u" "v" "w" "x" "y" "z"

In [15]:
# 인덱스 리턴
which(letters == 'f') # index: 1~
# 6

[1] 6

In [8]:
stu <- read.csv('./files/studentlist.csv', header=TRUE
                , fileEncoding='utf-8', encoding='utf-8')
stu
# name	gender	age	grade	absence	bloodtype	height	weight
# 김길동	남자	23	3	유	O	165.3	68.2
# 이미린	여자	22	2	무	AB	170.1	53.0
# 홍길동	남자	24	4	무	B	175.0	80.1
# 김철수	남자	23	3	무	AB	182.1	85.7
# 손세수	여자	20	1	유	A	168.0	49.5
# 박미희	여자	21	2	무	O	162.0	52.0
# 강수친	여자	22	1	무	O	155.2	45.3
# 이희수	여자	23	1	무	A	176.9	55.0
# 이철린	남자	23	3	무	B	178.5	64.2
# 방희철	남자	22	2	무	B	176.1	61.3
# 박수호	남자	24	4	유	O	167.1	62.0
# 임동민	남자	22	2	무	AB	180.0	75.8
# 김민수	남자	21	1	무	A	162.2	55.3
# 이희진	여자	23	3	무	O	176.1	53.1
# 김미진	여자	22	2	무	B	158.2	45.2
# 김동수	남자	24	4	유	B	168.6	70.2
# 여수근	남자	21	1	무	A	169.2	62.2

   name   gender age grade absence bloodtype height weight
1  김길동 남자   23  3     유      O         165.3  68.2
2  이미린 여자   22  2     무      AB        170.1  53.0
3  홍길동 남자   24  4     무      B         175.0  80.1
4  김철수 남자   23  3     무      AB        182.1  85.7
5  손세수 여자   20  1     유      A         168.0  49.5
6  박미희 여자   21  2     무      O         162.0  52.0
7  강수친 여자   22  1     무      O         155.2  45.3
8  이희수 여자   23  1     무      A         176.9  55.0
9  이철린 남자   23  3     무      B         178.5  64.2
10 방희철 남자   22  2     무      B         176.1  61.3
11 박수호 남자   24  4     유      O         167.1  62.0
12 임동민 남자   22  2     무      AB        180.0  75.8
13 김민수 남자   21  1     무      A         162.2  55.3
14 이희진 여자   23  3     무      O         176.1  53.1
15 김미진 여자   22  2     무      B         158.2  45.2
16 김동수 남자   24  4     유      B         168.6  70.2
17 여수근 남자   21  1     무      A         169.2  62.2

In [9]:
# str Dateframe의 name변수의 값이 홍길동인 index 
which(stu$name == '홍길동')
which(stu == '홍길동')
# 3
# 3

[1] 3

[1] 3

In [10]:
# arr.ind: index 출력, 행렬 index 출력
which(stu == '홍길동', arr.ind=TRUE)
# row	col
# 3	1

     row col
[1,] 3   1

In [11]:
absence <- which(stu$absence == "무") # 결석이 없는 학생만 출력
print(absence) # 결석이 없는 학생들의 행 index
class(absence) # 요소의 타입
is(absence)    # R 데이터 타입
print(length(absence)) # 결석하지않은 학생수
#  [1]  2  3  4  6  7  8  9 10 12 13 14 15 17
# 'integer'
# 'integer' 'double' 'numeric' 'vector' 'data.frameRowLabels'
# [1] 13

 [1]  2  3  4  6  7  8  9 10 12 13 14 15 17

[1] "integer"

[1] "integer"             "double"              "numeric"
[4] "vector"              "data.frameRowLabels"

[1] 13

In [12]:
# '무'라는 문자열이 있는 관측치의 index 출력
idx <- which(stu == "무", arr.ind = TRUE) 
idx
# row	col
# 2	5
# 3	5
# 4	5
# 6	5
# 7	5
# 8	5
# 9	5
# 10	5
# 12	5
# 13	5
# 14	5
# 15	5
# 17	5

      row col
 [1,]  2  5
 [2,]  3  5
 [3,]  4  5
 [4,]  6  5
 [5,]  7  5
 [6,]  8  5
 [7,]  9  5
 [8,] 10  5
 [9,] 12  5
[10,] 13  5
[11,] 14  5
[12,] 15  5
[13,] 17  5

In [34]:
absense_sw <- stu$absence == "무" # 논리 값 
absense_sw
class(absense_sw)
# FALSE TRUE TRUE TRUE FALSE TRUE TRUE TRUE TRUE TRUE FALSE TRUE TRUE TRUE TRUE FALSE TRUE
# 'logical'

 [1] FALSE  TRUE  TRUE  TRUE FALSE  TRUE  TRUE  TRUE  TRUE  TRUE FALSE  TRUE
[13]  TRUE  TRUE  TRUE FALSE  TRUE

[1] "logical"

In [36]:
# 결석을 하지 않은 사람들만 출력
stu <- subset(stu, subset=(stu$absence == "무"))
stu
# name	gender	age	grade	absence	bloodtype	height	weight
# 2	이미린	여자	22	2	무	AB	170.1	53.0
# 3	홍길동	남자	24	4	무	B	175.0	80.1
# 4	김철수	남자	23	3	무	AB	182.1	85.7
# 6	박미희	여자	21	2	무	O	162.0	52.0
# 7	강수친	여자	22	1	무	O	155.2	45.3
# 8	이희수	여자	23	1	무	A	176.9	55.0
# 9	이철린	남자	23	3	무	B	178.5	64.2
# 10	방희철	남자	22	2	무	B	176.1	61.3
# 12	임동민	남자	22	2	무	AB	180.0	75.8
# 13	김민수	남자	21	1	무	A	162.2	55.3
# 14	이희진	여자	23	3	무	O	176.1	53.1
# 15	김미진	여자	22	2	무	B	158.2	45.2
# 17	여수근	남자	21	1	무	A	169.2	62.2

   name   gender age grade absence bloodtype height weight
2  이미린 여자   22  2     무      AB        170.1  53.0
3  홍길동 남자   24  4     무      B         175.0  80.1
4  김철수 남자   23  3     무      AB        182.1  85.7
6  박미희 여자   21  2     무      O         162.0  52.0
7  강수친 여자   22  1     무      O         155.2  45.3
8  이희수 여자   23  1     무      A         176.9  55.0
9  이철린 남자   23  3     무      B         178.5  64.2
10 방희철 남자   22  2     무      B         176.1  61.3
12 임동민 남자   22  2     무      AB        180.0  75.8
13 김민수 남자   21  1     무      A         162.2  55.3
14 이희진 여자   23  3     무      O         176.1  53.1
15 김미진 여자   22  2     무      B         158.2  45.2
17 여수근 남자   21  1     무      A         169.2  62.2

In [37]:
# 출력할 변수의 지정
# 칼럼 제거
stu1 <- subset(stu, select=c(-age, -grade, -absence, -bloodtype))
head(stu1) # 6건만 처리
# 칼럼 추가
stu2 <- subset(stu, select=c(name, gender, height, weight))
head(stu2)

# 결과 동일
# 	name	gender	height	weight
# 2	이미린	여자	170.1	53.0
# 3	홍길동	남자	175.0	80.1
# 4	김철수	남자	182.1	85.7
# 6	박미희	여자	162.0	52.0
# 7	강수친	여자	155.2	45.3
# 8	이희수	여자	176.9	55.0

  name   gender height weight
2 이미린 여자   170.1  53.0
3 홍길동 남자   175.0  80.1
4 김철수 남자   182.1  85.7
6 박미희 여자   162.0  52.0
7 강수친 여자   155.2  45.3
8 이희수 여자   176.9  55.0

  name   gender height weight
2 이미린 여자   170.1  53.0
3 홍길동 남자   175.0  80.1
4 김철수 남자   182.1  85.7
6 박미희 여자   162.0  52.0
7 강수친 여자   155.2  45.3
8 이희수 여자   176.9  55.0

In [13]:
# 시퀀스 생성시 c를 쓰지 않아도 결과 동일
i <- 1:10   # vector 생성
i
is(i)

i <- c(1:10) # 함수 사용 vector 생성
i
is(i)

 [1]  1  2  3  4  5  6  7  8  9 10

[1] "integer"             "double"              "numeric"
[4] "vector"              "data.frameRowLabels"

 [1]  1  2  3  4  5  6  7  8  9 10

[1] "integer"             "double"              "numeric"
[4] "vector"              "data.frameRowLabels"

In [41]:
# for문
for (n in i) {  # vecot의 요소 출력
    print(n)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

In [43]:
d <- numeric() # 숫자형 vector 생성
for (n in i) {
    d[n] <- n * 2 # vector에 배수 저장
}

In [44]:
for (n in d) {
    print(n) # 배수 출력
}
# [1] 2
# [1] 4
# [1] 6
# [1] 8
# [1] 10
# [1] 12
# [1] 14
# [1] 16
# [1] 18
# [1] 20

[1] 2
[1] 4
[1] 6
[1] 8
[1] 10
[1] 12
[1] 14
[1] 16
[1] 18
[1] 20

In [45]:
i <- 1:10
for(n in i) {
    if (n %% 2 == 0) { # 짝수만 출력, 나머지 구함
        print(n)
    }
}

[1] 2
[1] 4
[1] 6
[1] 8
[1] 10

In [47]:
# next: continue
i <- 1:10
for(n in i) {
    if (n %% 2 == 0) {
        next # 짝수일 경우는 출력 안함
    } else {
        print(n)
    }
}

[1] 1
[1] 3
[1] 5
[1] 7
[1] 9

In [48]:
# 1부터 10까지 숫자의 합
sumx <- 0
for (n in i) {
    sumx = sumx + n
}
sumx

[1] 55

In [ ]:
# 1부터 10까지 짝수, 홀수의 합

In [49]:
even <- 0
odd <- 0
for (n in i) {
    if (n %% 2 == 0) {
        even = even + n # 짝수의 합
    } else { 
        odd = odd + n   # 홀수의 합
    }
}
even
odd

[1] 30

[1] 25

In [50]:
even <- 0
odd <- 0
for (n in i) {
    if (n %% 2 == 0) {
        even = even + 1 # 짝수의 갯수
    } else { 
        odd = odd + 1   # 홀수의 갯수
    }
}
even
odd

[1] 5

[1] 5

In [54]:
# while문
i = 1
while(TRUE) {  # 무한 루틴, true는 반드시 대문자 사용
    print(i)
    # i++    # ERROR
    # i += 1 # ERROR
    i = i + 1
    if (i == 6) {
        break;  # 순환문 탈출
    }
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5

In [55]:
i = 5
while(i >= 1) { # 조건 명시
    print(i)
    i = i - 1
}

[1] 5
[1] 4
[1] 3
[1] 2
[1] 1

In [56]:
# 1부터 100까지 2,3,4의 배수의 갯수는?
# repeat도 무한 루프
cnt <- 0
i <- 0
repeat {  # while(TRUE) 동일
    i = i + 1
    if (i %% 2 == 0 & i %% 3 == 0 & i %% 4 == 0) {
        cnt = cnt + 1
    }
    if (i == 100) {
        break
    }
}
print(cnt)
# [1] 8

[1] 8

### 함수

In [15]:
# 자바 스크립트와 유사
f1 <- function(){
    print('함수 호출됨')
}

In [16]:
f1()
# [1] "함수 호출됨"

[1] "함수 호출됨"

In [18]:
# 인수를 전달 받는 함수
f2 <- function(x, y){
    sum <- x+y
    print(sum)
}

In [19]:
f2(10, 20)
# [1] 30

[1] 30

In [21]:
# 두 수의 차이를 리턴하는 함수
f3 <- function(x, y){
    range <- x-y
    if(range < 0){
        range = range * -1
    }
    return (range) # () 생략 시 에러
}

In [24]:
f3(1, 10)
# 9

[1] 9

In [25]:
# 1부터 100까지 2,3,4의 배수의 갯수는?
f4 <- function(x){
    cnt <- 0
    for(i in x){
        if (i %% 2 == 0 & i %% 3 == 0 & i %% 4 == 0) {
            cnt = cnt + 1
        }
    }
    return (cnt)
}

In [27]:
f4(1:50)
# 4
f4(1:100)
# 8
f4(100:1000)
# 75

[1] 4

[1] 8

[1] 75

In [28]:
# 주어진 수 중 합을 구하여 리턴하는 함수?
tot <- function(x){
    sum <- 0
    for(n in x){
        sum <- sum + n
    }
    return (sum)
}

In [30]:
tot(1:5)
# 15

[1] 15

In [33]:
# 주어진 수 중 평균을 구하여 리턴하는 함수
mean <- function(x){
    sum <- 0
    for(n in x){
        sum <- sum + n
    }
    return (sum/length(x))
}

In [34]:
mean(1:5)

[1] 3