In [1]:
# 패키지 설치
# 저장소: CRAN
# stringr이라는 패키지 설치
options(repos="https://CRAN.R-project.org")
install.packages("stringr")

also installing the dependencies 'glue', 'magrittr', 'stringi'

package 'glue' successfully unpacked and MD5 sums checked
package 'magrittr' successfully unpacked and MD5 sums checked
package 'stringi' successfully unpacked and MD5 sums checked
package 'stringr' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\soldesk\AppData\Local\Temp\RtmpcZdEXi\downloaded_packages

In [2]:
# 라이브러리 버전 확인
library(stringr)

Warning message:
"package 'stringr' was built under R version 3.6.3"

In [3]:
# 숫자 1 ~ 9까지 2개의 숫자가 등장한 경우중 처음것만 추출
r <- str_extract("홍길동35이순신45유관순25", "[1-9]{2}") 
r
class(r)
# '35'
# 'character'

[1] "35"

[1] "character"

In [4]:
# 조건에 해당하는 숫자 모두 출력
r <- str_extract_all("홍길동35이순신45유관순25", "[1-9]{2}") # 모든 대응
r
class(r)
# '35' '45' '25'
# 'list'

[[1]]
[1] "35" "45" "25"

[1] "list"

In [3]:
# 알파벳 3자리 연속 문자열 추출, 대소문자 구분 
string <- 'bigdata2015Rscript2016machine2017'
# bigdata2015Rscript2016machine2017
# data2015Rscript2016machine2017
# script2016machine2017
# ipt2016machine2017
# machine2017
# hine2017
r <- str_extract_all(string, '[a-z]{3}') 
print(r)
# [[1]]
# [1] "big" "dat" "scr" "ipt" "mac" "hin"

[[1]]
[1] "big" "dat" "scr" "ipt" "mac" "hin"

In [5]:
# {3,}
# 알파벳 3문자 이상 등장한 경우 출력
r <- str_extract_all(string, '[a-z]{3,}') 
print(r)
class(r)
# [[1]]
# [1] "bigdata" "script"  "machine"
# 'list'

[[1]]
[1] "bigdata" "script"  "machine"

[1] "list"

In [6]:
# 3과 5 사이에 공백이 있으면 안됨
string <- 'big2014data2015Rscript2016machine2017'
# 알파벳 3 ~ 5 문자가 등장한 경우 출력
r <- str_extract_all(string, '[a-z]{3,5}') 
print(r)

# [[1]]
# [1] "big"   "data"  "scrip" "machi"

[[1]]
[1] "big"   "data"  "scrip" "machi"

In [10]:
# ai가 등장할 때마다
string <- 'ai2019ai2020aitensorflow2021'
# 문자열 ai가 포함된 경우 출력
r <- str_extract_all(string, 'ai') 
print(r)
# [[1]]
# [1] "ai" "ai" "ai"
class(r)
# 'list'
print(r[[1]])
# [1] "ai" "ai" "ai"
print(r[[1]][1])
# [1] "ai"
print(class(r[[1]][1]))
# [1] "character"

[[1]]
[1] "ai" "ai" "ai"

[1] "list"

[1] "ai" "ai" "ai"
[1] "ai"
[1] "character"

In [13]:
string <- '빅데이터2015R스크립트2016머신러닝2017RDATA'
# 연속된 한글 3개의 문자 추출
str_extract_all(string, '[가-핳]{3}')
# '빅데이' '스크립' '머신러'

[[1]]
[1] "빅데이" "스크립" "머신러"

In [14]:
# 대문자 1글자 추출
str_extract_all(string, '[A-Z]{1}')
# 'R' 'R' 'D' 'A' 'T' 'A'

[[1]]
[1] "R" "R" "D" "A" "T" "A"

In [15]:
string <- 'bigdata2015Rscript2016MACHINE2017'
# 대소문자 포함 알파벳이 5개 연속 등장하면 출력
r <- str_extract_all(string, '[a-zA-Z]{5}')
r
class(r)
# 'bigda' 'Rscri' 'MACHI'
# 'list'

[[1]]
[1] "bigda" "Rscri" "MACHI"

[1] "list"

In [16]:
# 제외, exclusive
r <- str_extract_all(string, '[^a-zA-Z]') # 알파벳 제외 문자 출력
r
'2' '0' '1' '5' '2' '0' '1' '6' '2' '0' '1' '7'

[[1]]
 [1] "2" "0" "1" "5" "2" "0" "1" "6" "2" "0" "1" "7"

In [11]:
# 알파벳을 제외하고 4자의 문자가 연속해서 구성된 경우 출력
string <- '123bigdata2015Rscript2016MACHINE2017@#$%'
r <- str_extract_all(string, '[^a-zA-Z]{4}') 
r
# '2015' '2016' '2017' '@#$%'

[[1]]
[1] "2015" "2016" "2017" "@#$%"

In [12]:
# 영어, 한글 제외하고 4글자로 구성된 문자열 출력
string <- 'bigdata2015Rscript2016MACHINE2017개발자2019@#$%'
str_extract_all(string, '[^a-zA-Z가-핳]{4}')
# '2015' '2016' '2017' '2019' '@#$%'

[[1]]
[1] "2015" "2016" "2017" "2019" "@#$%"

In [15]:
str_extract_all(string, '[^0-9]') # 숫자 제외, 문자만 출력
# 'b' 'i' 'g' 'd' 'a' 't' 'a' 'R' 's' 'c' 'r' 'i' 'p' 't' 'M' 'A' 'C' 'H' 'I' 'N' 'E' '개' '발' '자' '@' '#' '$' '%'

[[1]]
 [1] "b"  "i"  "g"  "d"  "a"  "t"  "a"  "R"  "s"  "c"  "r"  "i"  "p"  "t"  "M"
[16] "A"  "C"  "H"  "I"  "N"  "E"  "개" "발" "자" "@"  "#"  "$"  "%"

In [14]:
# 숫자 제외, 3자이상 등장한 문자열만 출력
str_extract_all(string, '[^0-9]{3,}') 
# 'bigdata' 'Rscript' 'MACHINE' '개발자' '@#$%'

[[1]]
[1] "bigdata" "Rscript" "MACHINE" "개발자"  "@#$%"

In [17]:
# 주민등록번호 입력 규칙 검사, 자리수만 검사
string <- '123456-1234567'
ser <- str_extract_all(string, '[0-9]{6}-[0-9]{7}')
ser
# '123456-1234567'
print(ser[[1]])
# "123456-1234567"
print(class(ser[[1]]))
# "character"

string <- '123456-123456' # 매칭 안됨
str_extract_all(string, '[0-9]{6}-[0-9]{7}') 
#

[[1]]
[1] "123456-1234567"

[1] "123456-1234567"
[1] "character"

[[1]]
character(0)

In [34]:
# 성별의 처리
string <- '123456-1234567'
str_extract_all(string, '[0-9]{6}-[1234][0-9]{6}')
# '123456-1234567'
string <- '123456-9234567' # 성별은 1,2,3,4중 하나여야함.
str_extract_all(string, '[0-9]{6}-[1234][0-9]{6}')
#

[[1]]
[1] "123456-1234567"

[[1]]
character(0)

In [36]:
# \\d: [0-9] 숫자를 의미함.
string <- '123456-1234567'
str_extract_all(string, '\\d{6}-[1234]\\d{6}')
# '123456-1234567'

string <- '123456-9234567'# 성별은 1,2,3,4중 하나여야함.
str_extract_all(string, '\\d{6}-[1234]\\d{6}')
#

[[1]]
[1] "123456-1234567"

[[1]]
character(0)

In [18]:
# \\w: [a-zA-Z가-핳] 특수문자를 제외한 모든 문자(숫자 포함) 중 7자이상 조합 출력
# word에는 숫자도 포함, 공백은 제외
name <-'홍길동1234, 이순신5678 왕눈이 1012 Bigdata'
str_extract_all(name,'\\w{7,}')
# '홍길동1234' '이순신5678' 'Bigdata'

[[1]]
[1] "홍길동1234" "이순신5678" "Bigdata"

In [40]:
# str_length()
name <-'홍길동1 !A' # 공백도 문자수에는 포함됨, 모든 글자 1개로 처리.
len <- str_length(name) 
len
# 7

[1] 7

In [19]:
# 문자의 시작과 끝을 찾음
name <-'홍길동1234 !ABC'
idx <- str_locate(name, 'ABC') # start index: 1~, 위치 index 추출
# idx$start -> 이렇게 접근 불가
# idx$end
# idx['end'] -> 이렇게도 접근 불가
idx[1]
# 10
class(str)
# start	end
# 10	12
# 'matrix'

[1] 10

[1] "function"

In [24]:
name
# '홍길동1234 !ABC'
n <- str_sub(name, 1, 3) # 문자열 추출, start index: 1, end index: 1
n
# '홍길동'
n <- str_sub(name, 4, 3) # 문자열 추출()
n
# ''
n <- str_sub(name, 4, 6) # 문자열 추출(4,5,6)
n
# '123'

[1] "홍길동1234 !ABC"

[1] "홍길동"

[1] ""

[1] "123"

In [25]:
str_to_upper('Bigdata') # 대문자로 변경
# 'BIGDATA'
str_to_lower('Bigdata') # 소문자로 변경
# 'bigdata'

[1] "BIGDATA"

[1] "bigdata"

In [46]:
str_replace('ai2019 ai2010', 'ai', 'bigdata') # 첫번째 문자만 변경
str_replace_all('ai2019 ai2010', 'ai', 'bigdata') # 모든 문자 변경
# 'bigdata2019 ai2010'
# 'bigdata2019 bigdata2010'

[1] "bigdata2019 ai2010"

[1] "bigdata2019 bigdata2010"

In [47]:
str_c('bigdata', ' ', 'ai') # 문자열 결합
# 'bigdata ai'

[1] "bigdata ai"

In [48]:
p <- str_split('bigdata,ai', ',') # 구분로 분리 -> 리스트 반환
print(p)
class(p)
# [[1]]
# [1] "bigdata" "ai"     

# 'list'

[[1]]
[1] "bigdata" "ai"

[1] "list"

In [49]:
str <- c('data', 'analysis', 'statistic') # 문자열 vector
str
# 'data' 'analysis' 'statistic'

[1] "data"      "analysis"  "statistic"

In [50]:
str_join <- paste(str, collapse=',')  # 구분자를 이용한 문자열 결합
str_join
# 'data,analysis,statistic'

[1] "data,analysis,statistic"