### List: 값 변경 가능 [ ]

In [1]:
data = [['cat', 'bat', 'rat'], 
        [10, 20, 30]]  # 2차원 배열
print(data)
print(data[0])
print(data[0][0])    # cat, 첫번째 행의 첫번째 열
print(len(data))     # 행의 수 2
print(len(data[0]))  # 열의 수 3
data.append([1, 2])  # 배열에 행 추가, 열의 개수가 달라도 상관 없음
print(data)          # 행열의 수가 다르고 데이터 타입이 달라도 됨.

[['cat', 'bat', 'rat'], [10, 20, 30]]
['cat', 'bat', 'rat']
cat
2
3
[['cat', 'bat', 'rat'], [10, 20, 30], [1, 2]]

In [2]:
data2 = data + ['A', 'B', 'C']
print(data2) # scala(하나의 값) 방식 결합, 0차원 데이터
data2 = data + [['A', 'B', 'C']]
# 1차원 데이터 결합, 2차원 리스트에 추가시 2차원 list의 형태로 선언
print(data2)

[['cat', 'bat', 'rat'], [10, 20, 30], [1, 2], 'A', 'B', 'C']
[['cat', 'bat', 'rat'], [10, 20, 30], [1, 2], ['A', 'B', 'C']]

In [3]:
# 리스트 곱셈
data = [1,2,3] * 3 # 요소가 반복 생성됨
print(data)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [4]:
# 리스트 값 다중 변수로 받아오기
data = [1, 20, 3]
a, b, c = data
print("%3d %3d %3d" % (a, b, c))

  1  20   3

In [5]:
# 특정 인덱스 리스트에 값 저장하기
data.insert(0, 100) # 0번 인덱스에 100 추가
print(data)

[100, 1, 20, 3]

In [6]:
# 특정 인덱스 값 바꾸기
data[1] = 150
print(data)

[100, 150, 20, 3]

In [7]:
# 리스트 특정 값을 지움
data.remove(data[2]) # index 2에 해당하는 값 20 삭제 data.remove(20)
print(data)

[100, 150, 3]

In [10]:
data = [200, 100, 150]
data.sort()
print(data)

[100, 150, 200]

In [11]:
# 사전 기준 정렬
data = ["a", "A", "z", "Z"]
data.sort()  # 문자 코드표 기준
print(data)

['A', 'Z', 'a', 'z']

In [13]:
# 기준 정렬
data = ["a", "A", "z", "Z"]
data.sort(key=str.lower)  # 의미 기준
print(data)

['a', 'A', 'z', 'Z']

In [12]:
# 문자 숫자가 섞여 있으면 정렬 불가
data = [100, 150, "a", "A", "가", "나"]
# data.sort() # X

In [14]:
#리스트 추가 append
data = [] # 리스트 초기화
su1 = 3
su2 = 0
su3 = 1
data.append(su1)
data.append(su2)
data.append(su3)
print(data)

[3, 0, 1]

In [15]:
data=[]
data.append(str(su1)) # 문자열로 형변환
data.append(str(su2))
data.append(str(su3))
print(data)

# 리스트 -> 문자열 결합
data2 = ",".join(data)
print(data2)

['3', '0', '1']
3,0,1

### Tuple: 값 변경 불가 ( )

In [2]:
data = ('hello', 42, 0.5) # 값 변경 불가능
print(type(data))
print(data)

<class 'tuple'>
('hello', 42, 0.5)

In [3]:
print(type('hello'))    # <class 'str'>
print(type(('hello')))  # <class 'str'>
print(type(('hello',))) # <class 'tuple'> # 컴마를 찍어야 튜플이 된다.
print(type(['hello'])) # <class 'list'>

<class 'str'>
<class 'str'>
<class 'tuple'>
<class 'list'>

In [9]:
data[1] = str(data[1])
# 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

In [10]:
# data[0] = 'python' # tuple은 새롭게 값을 할당 할수없고 이용만 가능
data_list = list(data)  # tuple -> list
print(data_list)

['hello', 42, 0.5]

In [11]:
# 튜플을 리스트로 바꿔서 리스트를 수정한 후 다시 튜플로 저장
data_list[0] = 'python'
data = tuple(data_list)
print(data)

('python', 42, 0.5)

In [12]:
data = list('python')
print(data)

data = tuple('python')
print(data)

['p', 'y', 't', 'h', 'o', 'n']
('p', 'y', 't', 'h', 'o', 'n')

### Dictionary: Key, Value

In [16]:
dict1={'year': 1, 'score': 10.5, 'season': '여름'}
print(dict1)         # 출력 순서가 다를수 있음**
print(dict1['year']) # 키를 사용한 경우

{'year': 1, 'score': 10.5, 'season': '여름'}
1

In [18]:
dict1['year'] = 2019 # 값의 할당
print(dict1['year'])
print('요소의 개수:', len(dict1))

2019
요소의 개수: 3

In [20]:
src=('year', 1)   
print(type(src)) # <class 'tuple'>
# 튜플을 딕셔너리로 변환할 수 없다.
# dict2 = dict(src) # ERROR: Tuple -> Dictionary

<class 'tuple'>

In [21]:
# 리스트 형태로 변환하면, dict으로 변환 시 {year: 1} 형태로 변환 됨
src = [('year', 1)]  # list 형태로 선언해야함.
dict2 = dict(src)
print(type(dict2))
print(dict2)

<class 'dict'>
{'year': 1}

In [22]:
# 여러 튜플을 담은 리스트를 딕셔너리로 변환 -> 튜플은 (1,2)의 형태
src = [('year', 1), ('score', 10.5), ('season', '여름')] # list로 선언해야함.
dict3 = dict(src)
print(type(dict3))
print(dict3)

<class 'dict'>
{'year': 1, 'score': 10.5, 'season': '여름'}

In [23]:
# dictionary 생성
dict4 = dict(year=1, score=10.5, season='여름') 
print(type(dict4))
print(dict4)

<class 'dict'>
{'year': 1, 'score': 10.5, 'season': '여름'}

In [25]:
# 메모리 공유
dict5 = dict4   # 메모리 공유
dict5['season'] = '봄'
print(dict4['season'])
print(dict5['season'])
print(id(dict4))
print(id(dict5))

봄
봄
2298047336736
2298047336736

In [26]:
# 메모리 공유하지 않음 ->  새로 할당
dict4 = dict(year=1, score=10.5, season='여름')
dict5 = dict4.copy()  # 내용을 복사하여 새로운 메모리에 할당, deep copy
dict5['season'] = '가을'
print(dict4['season'])
print(dict5['season'])
print(id(dict4))
print(id(dict5))

여름
가을
2298047336952
2298047402848

In [27]:
# 딕셔너리 추가
dict5['pass'] = True  # 키가 존재하지 않음으로 추가
print(dict5)

{'year': 1, 'score': 10.5, 'season': '가을', 'pass': True}

In [28]:
# 딕셔너리 삭제
del dict5['season']   # 삭제
print(dict5)

{'year': 1, 'score': 10.5, 'pass': True}

In [29]:
# 딕셔너리 리스트 변환 시 키만 추출
list1 = list(dict5) # Dictionary --> List, 키만 추출됨
print(list1)   
print(dict5)

['year', 'score', 'pass']
{'year': 1, 'score': 10.5, 'pass': True}

In [30]:
# dict_items 출력
items = dict5.items()
print(items)       # list에 tuple이 요소로 출력됨.
print(type(items)) # <class 'dict_items'>

dict_items([('year', 1), ('score', 10.5), ('pass', True)])
<class 'dict_items'>

In [31]:
# 리스트 안에 튜플 형식 출력
list2 = list(items)
print(list2)
print(type(list2))

[('year', 1), ('score', 10.5), ('pass', True)]
<class 'list'>

### Set: 중복 자동 제거 { }

In [36]:
# set 생성
c = set()
type(c)

set

In [37]:
c = set([1,2,3,4,5])
c

{1, 2, 3, 4, 5}

In [38]:
# 중복제거
c = set([1, 1, 1, 2, 3, 4, 5])
c

{1, 2, 3, 4, 5}

In [39]:
# 중복제거, 자동 정렬
c = set([7, 1, 1, 1, 2, 3, 4, 5])
c

{1, 2, 3, 4, 5, 7}

In [40]:
for i in c:
    print(i)

1
2
3
4
5
7

In [41]:
# 키가 없는 값이 하나 이상 있으면 set으로 인식
c = {1}
type(c)

set

In [42]:
# 값의 형태로 set에 추가
c.add(100)
c

{1, 100}

In [43]:
# 리스트의 형태로 set에 추가
c.update([1000]) # 데이터의 추가, 중복 제거
c

{1, 100, 1000}

In [44]:
c.update(2000)
c
# 'int' object is not iterable

TypeError: 'int' object is not iterable

In [45]:
# set 요소 삭제
c.remove(1000)
c

{1, 100}