In [1]:
su = 0
while True:
    su = su + 1
    print(su, end='')
    
    if su == 5:
        break

12345

In [3]:
su = 6
while True: # 0 이외의 값은 모두 참 처리
    su = su - 1
    print(su, end='')
    
    if su == 1:
        break

54321

In [4]:
su = 0
while True:
    su = su + 1
    if su % 2 == 0 and su % 3 == 0 and su % 4 == 0:
        print(su)
        break

12

### For

In [7]:
str1 = 'ABC가나다123'
for c in str1: # 1문자씩 추출됨
    print(c, '', end='')

A B C 가 나 다 1 2 3

In [13]:
print(type(range(5)))
for i in range(5):   # 0 ~ 4
    print(i, '', end='') # end='': 출력 라인 변경 방지

<class 'range'>
0 1 2 3 4

In [12]:
for i in range(1, 5): # 1 ~ 4
    print(i,'',  end='')  # end='': 출력 라인 변경 방지

1 2 3 4

In [11]:
# 간격 설정
for i in range(2, 12, 2): # 2 ~ 10, 간격 2
    print(i, '', end='')  # end='': 출력 라인 변경 방지

2 4 6 8 10

In [15]:
# 역순으로 순회, 마지막 1은 순회하지 않음
for i in range(5, 1, -1): # 5 ~ 2
    print(i, '', end='')  # end='': 출력 라인 변경 방지

5 4 3 2

In [18]:
# 구구단 2단 순회
for i in range(1, 10):
    print('2 x %d = %d' %(i, 2 * i))

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [19]:
# 구구단 2단 순회
for i in range(1, 10):
    print('2 x {0} = {1}'.format(i, 2 * i))

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [20]:
# format활용 방법, {0}의 여러 번 사용
for i in range(1, 10):
    print('2 x {0} = {1} <-- {0}'.format(i, 2 * i))

2 x 1 = 2 <-- 1
2 x 2 = 4 <-- 2
2 x 3 = 6 <-- 3
2 x 4 = 8 <-- 4
2 x 5 = 10 <-- 5
2 x 6 = 12 <-- 6
2 x 7 = 14 <-- 7
2 x 8 = 16 <-- 8
2 x 9 = 18 <-- 9

In [24]:
list1 = [1, 2, 3]
for su in list1:
    print(su)

1
2
3

In [22]:
data = []
for i in range(5):
    data.append(i)
print(data)

[0, 1, 2, 3, 4]

In [25]:
# 키보드 입력 받기: input()
data = []
for i in range(3): # 0 ~ 2
    dt = int(input('데이터 입력: '))
    data.append(dt)
print(data)

데이터 입력: 2019
데이터 입력: 2020
데이터 입력: 2021
[2019, 2020, 2021]

In [26]:
for year in data:
    print(year)

2019
2020
2021

In [28]:
title = ['데이터분석', '머신러닝', '딥러닝']
dev = ['Python', 'SKlearn', 'Tensorflow']
for i in range(len(title)):  # 0 ~ 2
    print(data[i], title[i], ":", dev[i])

2019 데이터분석 : Python
2020 머신러닝 : SKlearn
2021 딥러닝 : Tensorflow

In [28]:
title = ['데이터분석', '머신러닝', '딥러닝']
dev = ['Python', 'SKlearn', 'Tensorflow']
for i in range(len(title)):  # 0 ~ 2
    print(data[i], title[i], ":", dev[i])

2019 데이터분석 : Python
2020 머신러닝 : SKlearn
2021 딥러닝 : Tensorflow

In [29]:
# push, pop
# 원본 삭제
for i in range(len(data)): # 0 ~ 2
    print(data.pop())      # 원본이 삭제됨

2021
2020
2019

In [30]:
data

[]

In [32]:
# 내장 리스트
data = [i+100 for i in range(3)] # 0 ~ 2
print(data)

[100, 101, 102]

In [33]:
# 이중 내장 리스트 사용
data = [[0 for i in range(3)] for j in range(3)] # 0 ~ 2
print(data)

[[0, 0, 0], [0, 0, 0], [0, 0, 0]]

In [36]:
for i in range(3):
    for j in range(3):
        print(i, j, '->', (i+j))
        data[i][j] = i + j
        
print(data)

0 0 -> 0
0 1 -> 1
0 2 -> 2
1 0 -> 1
1 1 -> 2
1 2 -> 3
2 0 -> 2
2 1 -> 3
2 2 -> 4
[[0, 1, 2], [1, 2, 3], [2, 3, 4]]

In [38]:
data = [[], []]
for i in range(5):
    data[0].append(i)
    data[1].append(i*3)
print(data)

[[0, 1, 2, 3, 4], [0, 3, 6, 9, 12]]

In [39]:
# 튜플 순회
data = (10, 20, 30) # tuple
print(type(data))
for i in data:
    print(i)

<class 'tuple'>
10
20
30

In [40]:
# 튜플 순회2
data = (10, 20, 30)
for i in range(len(data)):
    print(data[i])

10
20
30

In [41]:
# 딕셔너리
months = {1: 'Jaunuary', 2: 'February', 3: 'March'}
print(months)
for item in months: # 키값을 foreach로 반환
    print('key:', item) # key
    print(months[item]) # key에 해당하는 값

{1: 'Jaunuary', 2: 'February', 3: 'March'}
key: 1
Jaunuary
key: 2
February
key: 3
March

In [43]:
# 딕셔너리  키만 추출해서 출력
keys = months.keys()
for v in keys:
    print(v)

1
2
3

In [42]:
# 딕셔너리  값만 추출해서 출력
values = months.values()
for v in values:
    print(v)

Jaunuary
February
March