In [23]:
%autosave 0

Autosave disabled

In [1]:
# 라이브러리 임포트
import pandas as pd

In [7]:
# 시군구 목록 데이터 불러오기
seoul_sgg = pd.read_excel('./data/seoul_sgg_202005.xlsx')
seoul_sgg.head()

   시군구코드  시군구명         위도          경도
0  11320   도봉구  37.665861  127.031767
1  11380   은평구  37.617612  126.922700
2  11230  동대문구  37.583801  127.050700
3  11590   동작구  37.496504  126.944307
4  11545   금천구  37.460097  126.900155

In [8]:
# 서울시 스타벅스 매장 목록 데이터 불러오기
seoul_starbucks = pd.read_excel('./data/seoul_starbucks_gu_202005.xlsx')                                 
seoul_starbucks.head()

,매장명,위도,경도,매장타입,주소,전화번호,시군구명
0,역삼아레나빌딩,37.501087,127.043069,general,서울특별시 강남구 언주로 425 (역삼동),1522-3232,강남구
1,논현역사거리,37.510178,127.022223,general,서울특별시 강남구 강남대로 538 (논현동),1522-3232,강남구
2,신사역성일빌딩,37.514132,127.020563,general,서울특별시 강남구 강남대로 584 (논현동),1522-3232,강남구
3,국기원사거리,37.499517,127.031495,general,서울특별시 강남구 테헤란로 125 (역삼동),1522-3232,강남구
4,스탈릿대치R,37.494668,127.062583,reserve,서울특별시 강남구 남부순환로 2947 (대치동),1522-3232,강남구

In [9]:
# 시군구별 스타벅스 매장 수 세기
# index: 그룹 컬럼, values: 값 컬럼, aggfunc: 함수
starbucks_sgg_count = seoul_starbucks.pivot_table(
                                                index = '시군구명', 
                                                values='매장명', 
                                                aggfunc='count'
                                                ).rename(columns={'매장명':'스타벅스_매장수'})
starbucks_sgg_count.head()

      스타벅스_매장수
시군구명
67           1
강남구         80
강동구         14
강북구          5
강서구         16

In [10]:
# 서울시 시군구 목록 데이터에 스타벅스 매장 수 데이터를 병합
# how='left': 왼쪽 데이터 프레임은 모두 출력됨
# 한번만 실행 -> 두번 이상 실행하면 계속 칼럼이 추가됨
seoul_sgg = pd.merge(seoul_sgg, starbucks_sgg_count, how='left', on='시군구명')
seoul_sgg

    시군구코드  시군구명         위도          경도  스타벅스_매장수
0   11320   도봉구  37.665861  127.031767         2
1   11380   은평구  37.617612  126.922700         8
2   11230  동대문구  37.583801  127.050700         8
3   11590   동작구  37.496504  126.944307        11
4   11545   금천구  37.460097  126.900155        10
5   11530   구로구  37.495486  126.858121        10
6   11110   종로구  37.599100  126.986149        38
7   11305   강북구  37.646995  127.014716         5
8   11260   중랑구  37.595379  127.093967         6
9   11680   강남구  37.495985  127.066409        80
10  11500   강서구  37.565762  126.822656        16
11  11140    중구  37.557945  126.994190        52
12  11740   강동구  37.549208  127.146482        14
13  11215   광진구  37.548144  127.085753        15
14  11440   마포구  37.562291  126.908780        32
15  11650   서초구  37.476953  127.037810        46
16  11290   성북구  37.606991  127.023218        13
17  11350   노원구  37.655264  127.077120        13
18  11710   송파구  37.504853  127.114482        30
19  11410  서대문구  37.582037  126.935667        18
20  11470   양천구  37.527062  126.856153        15
21  11560  영등포구  37.520641  126.913924        34
22  11620   관악구  37.465399  126.943807        11
23  11200   성동구  37.550675  127.040962        11
24  11170   용산구  37.531101  126.981074        18

In [11]:
# 서울시 시군구별 인구통계 데이터 불러오기
seoul_sgg_pop = pd.read_excel('./data/sgg_pop_202005.xlsx')
seoul_sgg_pop.head()

  시군구명   주민등록인구
0  종로구  177,023
1   중구  138,102
2  용산구  250,844
3  성동구  316,113
4  광진구  386,292

In [12]:
# 서울시 시군구 목록 데이터에 서울시 시군구별 인구통계 데이터를 병합
# seoul_sgg: 스타벅스 매장 수가 구 별로 들어가 있음
seoul_sgg = pd.merge(seoul_sgg, seoul_sgg_pop, how='left', on='시군구명')
seoul_sgg

    시군구코드  시군구명         위도          경도  스타벅스_매장수   주민등록인구
0   11320   도봉구  37.665861  127.031767         2  371,095
1   11380   은평구  37.617612  126.922700         8  474,165
2   11230  동대문구  37.583801  127.050700         8  374,039
3   11590   동작구  37.496504  126.944307        11  407,966
4   11545   금천구  37.460097  126.900155        10  262,337
5   11530   구로구  37.495486  126.858121        10  449,187
6   11110   종로구  37.599100  126.986149        38  177,023
7   11305   강북구  37.646995  127.014716         5  342,669
8   11260   중랑구  37.595379  127.093967         6  431,283
9   11680   강남구  37.495985  127.066409        80  570,913
10  11500   강서구  37.565762  126.822656        16  578,257
11  11140    중구  37.557945  126.994190        52  138,102
12  11740   강동구  37.549208  127.146482        14  490,945
13  11215   광진구  37.548144  127.085753        15  386,292
14  11440   마포구  37.562291  126.908780        32  392,087
15  11650   서초구  37.476953  127.037810        46  432,888
16  11290   성북구  37.606991  127.023218        13  484,359
17  11350   노원구  37.655264  127.077120        13  614,603
18  11710   송파구  37.504853  127.114482        30  689,909
19  11410  서대문구  37.582037  126.935667        18  336,490
20  11470   양천구  37.527062  126.856153        15  504,928
21  11560  영등포구  37.520641  126.913924        34  440,863
22  11620   관악구  37.465399  126.943807        11  546,814
23  11200   성동구  37.550675  127.040962        11  316,113
24  11170   용산구  37.531101  126.981074        18  250,844

In [14]:
# 서울시 시군구 목록 데이터에 서울시 시군구별 사업체 수 통계 데이터를 병합
# seoul_sgg: 스타벅스 구 별 매장 수 + 주민등록인구수
seoul_sgg_biz = pd.read_excel('./data/sgg_biz_202005.xlsx')
seoul_sgg = pd.merge(
    seoul_sgg, 
    seoul_sgg_biz,
    how='left',
    on='시군구명'
)
seoul_sgg

    시군구코드  시군구명         위도          경도  스타벅스_매장수   주민등록인구    종사자수   사업체수
0   11320   도봉구  37.665861  127.031767         2  371,095   68669  18455
1   11380   은평구  37.617612  126.922700         8  474,165   87693  24179
2   11230  동대문구  37.583801  127.050700         8  374,039  143858  32994
3   11590   동작구  37.496504  126.944307        11  407,966  103915  19609
4   11545   금천구  37.460097  126.900155        10  262,337  223058  30080
5   11530   구로구  37.495486  126.858121        10  449,187  210506  37445
6   11110   종로구  37.599100  126.986149        38  177,023  269106  40871
7   11305   강북구  37.646995  127.014716         5  342,669   69787  18654
8   11260   중랑구  37.595379  127.093967         6  431,283   99241  27287
9   11680   강남구  37.495985  127.066409        80  570,913  711278  73590
10  11500   강서구  37.565762  126.822656        16  578,257  199289  33273
11  11140    중구  37.557945  126.994190        52  138,102  423808  66190
12  11740   강동구  37.549208  127.146482        14  490,945  143061  30079
13  11215   광진구  37.548144  127.085753        15  386,292  123689  24531
14  11440   마포구  37.562291  126.908780        32  392,087  252534  36504
15  11650   서초구  37.476953  127.037810        46  432,888  439963  47061
16  11290   성북구  37.606991  127.023218        13  484,359  113893  24690
17  11350   노원구  37.655264  127.077120        13  614,603  114736  25827
18  11710   송파구  37.504853  127.114482        30  689,909  302517  45375
19  11410  서대문구  37.582037  126.935667        18  336,490  111615  19612
20  11470   양천구  37.527062  126.856153        15  504,928  119443  26297
21  11560  영등포구  37.520641  126.913924        34  440,863  362524  44512
22  11620   관악구  37.465399  126.943807        11  546,814  119180  26235
23  11200   성동구  37.550675  127.040962        11  316,113  162019  26130
24  11170   용산구  37.531101  126.981074        18  250,844  133446  21178

In [15]:
# 병합 결과를 엑셀 파일로 저장
seoul_sgg.to_excel('./data/seoul_sgg_stat_202005.xlsx', index=False)