In [14]:
# 1. Jupyter Notebook에서 ai 가상환경에서 pymongo package를 설치하는 스크립트를 작성하시오.
!pip install pymongo

Requirement already satisfied: pymongo in c:\programdata\anaconda3\envs\ai\lib\site-packages (3.10.1)

In [15]:
# 2. Mongodb 상에 임의의 database, collection에 접속하는 Python 스크립트를 작성하시오.
import pymongo
connection = pymongo.MongoClient("localhost", 27017)
db = connection.exam1 # 데이터베이스 선택, 없으면 자동으로 생성
collection = db.store # collection 테이블, 없으면 자동 생성

In [27]:
# 3. 여러개의 document를 추가하는 Python 스크립트를 작성하시오.
collection.insert([{'name': '호반정', 'taste': 10, 'service': 9},
                   {'name': '시스스시', 'taste': 8, 'service': 8},
                   {'name': '자금성', 'taste': 7, 'service': 10}],
                   {'name': '유진식당', 'taste': 8, 'service': 6},
                   {'name': '피맛골', 'taste': 7, 'service': 10}]
                 )

SyntaxError: invalid syntax (<ipython-input-27-184aa235f928>, line 6)

In [17]:
# 4. document 전체 목록을 출력하는 Python 스크립트를 작성하시오.
docs = collection.find()
for doc in docs:
    print(doc)

{'_id': ObjectId('5ef17a47bcacefd3b2ab78c3'), 'name': '호반정', 'taste': 10, 'service': 9}
{'_id': ObjectId('5ef17a47bcacefd3b2ab78c4'), 'name': '시스스시', 'taste': 8, 'service': 8}
{'_id': ObjectId('5ef17a47bcacefd3b2ab78c5'), 'name': '자금성', 'taste': 7, 'service': 10}

In [18]:
# 5. 검색 조건은 임의로 지정하고 document를 검색하는 Python 스크립트를 작성하시오.
docs = collection.find({'taste':{'$gte':8}, 'service': {'$gte':8}})
for doc in docs:
    print(doc)

{'_id': ObjectId('5ef17a47bcacefd3b2ab78c3'), 'name': '호반정', 'taste': 10, 'service': 9}
{'_id': ObjectId('5ef17a47bcacefd3b2ab78c4'), 'name': '시스스시', 'taste': 8, 'service': 8}

In [19]:
# 6. document를 조회하는 Python 스크립트를 작성하시오.
docs = collection.find({'name':{'$eq':'호반정'}})
for doc in docs:
    print(doc)

{'_id': ObjectId('5ef17a47bcacefd3b2ab78c3'), 'name': '호반정', 'taste': 10, 'service': 9}

In [20]:
# 7. document를 수정하는 Python 스크립트를 작성하시오.
collection.update({'name':'호반정'}, {'name':'호반정', 'taste':10, 'service':10})

C:\ProgramData\Anaconda3\envs\ai\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning: update is deprecated. Use replace_one, update_one or update_many instead.

{'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}

In [21]:
docs = collection.find()
for doc in docs:
    print(doc)

{'_id': ObjectId('5ef17a47bcacefd3b2ab78c3'), 'name': '호반정', 'taste': 10, 'service': 10}
{'_id': ObjectId('5ef17a47bcacefd3b2ab78c4'), 'name': '시스스시', 'taste': 8, 'service': 8}
{'_id': ObjectId('5ef17a47bcacefd3b2ab78c5'), 'name': '자금성', 'taste': 7, 'service': 10}

In [22]:
# 8. document를 삭제하는 Python 스크립트를 작성하시오.
collection.remove({'name':'호반정'})

docs = collection.find()
for doc in docs:
    print(doc)

{'_id': ObjectId('5ef17a47bcacefd3b2ab78c4'), 'name': '시스스시', 'taste': 8, 'service': 8}
{'_id': ObjectId('5ef17a47bcacefd3b2ab78c5'), 'name': '자금성', 'taste': 7, 'service': 10}

C:\ProgramData\Anaconda3\envs\ai\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning: remove is deprecated. Use delete_one or delete_many instead.

In [23]:
# 9. 저장된 collection을 Pandas DataFrame으로 변환하는 Python 스크립트를 작성하시오.
import pandas as pd
# mongodb에서 읽어온 데이터를 DataFrame으로 변경
docs = collection.find()
df = pd.DataFrame(list(docs), columns=['name', 'taste', 'service'])
df

   name  taste  service
0  시스스시      8        8
1   자금성      7       10

In [24]:
df['mean'] = (df['taste'] + df['service'])/2
df['rank'] = df['mean'].rank(method='min')
df

   name  taste  service  mean  rank
0  시스스시      8        8   8.0   1.0
1   자금성      7       10   8.5   2.0

In [25]:
# 10. 저장된 collection을 Pandas DataFrame으로 변환 후 임의의 계산 결과를 만들어 Dataframe에 컬럼을 추가하고 다시 새로운 Collection에 저장하는 Python 스크립트를 작성하시오. 
import json
# pandas -> mongodb:data1 database, dev_out collection insert
records = json.loads(df.T.to_json()).values()
db.store_out.insert(records) # ObjectId 리턴

C:\ProgramData\Anaconda3\envs\ai\lib\site-packages\ipykernel_launcher.py:5: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.
  """

[ObjectId('5ef17a52bcacefd3b2ab78c6'), ObjectId('5ef17a52bcacefd3b2ab78c7')]