In [2]:
import warnings
warnings.filterwarnings(action='ignore') # 경고 무시
import pymongo
import pandas as pd

In [3]:
# 연결
connection = pymongo.MongoClient("localhost", 27017)
db = connection.data1 # 데이터베이스 이름
collection = db.dev # collection(테이블) 지정

In [4]:
# 삭제
collection.remove() # 전체 삭제

docs = collection.find()
for doc in docs:
    print(doc)

In [5]:
# 배열 형식으로 여러 건의 document 추가
collection.insert([{'no': 1, 'name': '왕눈이', 'python': 90, 'analysis': 80}, 
                   {'no': 2, 'name': '아로미', 'python': 90, 'analysis': 80},
                   {'no': 3, 'name': '홍길동', 'python': 90, 'analysis': 80}])

[ObjectId('5ef162323b5faaccf453e196'),
 ObjectId('5ef162323b5faaccf453e197'),
 ObjectId('5ef162323b5faaccf453e198')]

In [6]:
docs = collection.find()
for doc in docs:
    print(doc)

{'_id': ObjectId('5ef162323b5faaccf453e196'), 'no': 1, 'name': '왕눈이', 'python': 90, 'analysis': 80}
{'_id': ObjectId('5ef162323b5faaccf453e197'), 'no': 2, 'name': '아로미', 'python': 90, 'analysis': 80}
{'_id': ObjectId('5ef162323b5faaccf453e198'), 'no': 3, 'name': '홍길동', 'python': 90, 'analysis': 80}

In [7]:
print(type(docs)) # 커서 타입, 한번 읽고 나면 커서가 마지막으로 이동

<class 'pymongo.cursor.Cursor'>

In [8]:
# Cursor는 document를 가져오면 cursor 포인터를 마지막까지 이동시키기 때문에
# 아래는 아무런 출력이 이루어지지 않음
for doc in docs: 
    print(doc)

In [10]:
# mongodb에서 읽어온 데이터를 DataFrame으로 변경
docs = collection.find()
# for doc in docs:
#     print(doc)
df = pd.DataFrame(list(docs), columns=['no', 'name', 'python', 'analysis'])
df

   no name  python  analysis
0   1  왕눈이      90        80
1   2  아로미      90        80
2   3  홍길동      90        80

In [11]:
# 총점 구하기
df['tot'] = df['python']+df['analysis']
df

   no name  python  analysis  tot
0   1  왕눈이      90        80  170
1   2  아로미      90        80  170
2   3  홍길동      90        80  170

In [12]:
# 평균 구하기
df['avg'] = df['tot']/2
df

   no name  python  analysis  tot   avg
0   1  왕눈이      90        80  170  85.0
1   2  아로미      90        80  170  85.0
2   3  홍길동      90        80  170  85.0

In [14]:
import json
df.T.to_json() # \\u로 시작: 유니코드로 변환 -> mongoDB에서 한글이 깨지지 않음

'{"0":{"no":1,"name":"\\uc655\\ub208\\uc774","python":90,"analysis":80,"tot":170,"avg":85.0},"1":{"no":2,"name":"\\uc544\\ub85c\\ubbf8","python":90,"analysis":80,"tot":170,"avg":85.0},"2":{"no":3,"name":"\\ud64d\\uae38\\ub3d9","python":90,"analysis":80,"tot":170,"avg":85.0}}'

In [13]:
# pandas -> mongodb:data1 database, dev_out collection insert
import json
records = json.loads(df.T.to_json()).values()
db.dev_out.insert(records) # ObjectId 리턴

[ObjectId('5ef165f03b5faaccf453e199'),
 ObjectId('5ef165f03b5faaccf453e19a'),
 ObjectId('5ef165f03b5faaccf453e19b')]