In [6]:
# 1. 5개 이상의 변수로 이루어진 csv 파일을 제작하고 읽어오는 R 코드를 작성하시오. 
# - 파일명은 임의로 지정
getwd()
df <- read.csv('./order.csv', fileEncoding='utf-8', encoding='utf-8')
df

[1] "C:/ai6/ws_bigdata/notebook/exam"

  주문번호 이름   날짜     가격 상태     주소
1 1        왕눈이 20200405 1000 승인대기 서울특별시
2 2        아로미 20200505 2000 승인완료 경기도
3 3        투투   20200605 3000 결제취소 강원도

In [11]:
# 2. 임의의 데이터를 대상으로 Dataframe을 제작하고 화면에 출력하는 코드를 작성하시오.
# - 변수는 3개 이상이어야함.
df2 <- data.frame(do=c('서울특별시', '경기도', '강원도'), sigungu=c('송파구', '성남시', '강릉시'), dong=c('금은동', '행복동', '엄복동'))
df2

  do         sigungu dong
1 서울특별시 송파구  금은동
2 경기도     성남시  행복동
3 강원도     강릉시  엄복동

In [17]:
# 3. 작업된 Dataframe을 csv 파일로 저장하는 R 코드를 작성하시오.
# - 파일명은 임의로 지정
write.csv(df2, 'address.csv',fileEncoding='utf-8')

In [22]:
# 4. 2개의 수를 전달받아 합을 구하여 return하는 함수를 제작하시오.
f4 <- function(num1, num2){
    return (num1 + num2);
}
f4(10,20);

[1] 30

In [27]:
# 5. 1~10까지 vector 데이터를 만들고 합계, 평균, 분산, 표준편차를 산출하는 코드를 작성하시오. 
v5 <- c(1:10)
v5
sum(v5) # 합계
mean(v5) # 평균
var(v5) # 분산
sd(v5) # 표준편차

 [1]  1  2  3  4  5  6  7  8  9 10

[1] 55

[1] 5.5

[1] 9.166667

[1] 3.02765

In [28]:
# 6. dplyr 패키지를 설치하는 스크립트를 제작하시오.
options(repos = c(CRAN = "http://cran.rstudio.com"))
install.packages("dplyr")

package 'dplyr' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\soldesk\AppData\Local\Temp\Rtmpqo6OlB\downloaded_packages

In [29]:
# 7. dplyr 패키지를 메모리에 로딩하는 스크립트를 제작하시오.
library(dplyr)

Warning message:
"package 'dplyr' was built under R version 3.6.3"
Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [54]:
# 8. 사칙연산중 하나를 이용하여 존재하지 않는 변수를 추가하는 스크립트를 제작하시오.
col1 <- c('왕눈이', '아로미', '투투')
col2 <- c(100, 80, 40)
col3 <- c(30, 60, 70)
df8 <- data.frame(col1, col2, col3)
names(df8) <- c('이름', 'R', 'Python')
df8 <- df8  %>% mutate(합계 = R + Python)
df8

  이름   R   Python 합계
1 왕눈이 100 30     130
2 아로미  80 60     140
3 투투    40 70     110

In [58]:
# 9. 정렬 기능을 적용하여 csv 파일로 출력하는 스크립트를 제작하시오.
df9 <- df8  %>% arrange(-합계)
df9
write.csv(df9,'r_python.csv',fileEncoding='utf-8')

  이름   R   Python 합계
1 아로미  80 60     140
2 왕눈이 100 30     130
3 투투    40 70     110

In [61]:
# 10. 최종 작업된 Dataframe을 엑셀 파일로 저장하는 스크립트를 작성하고 엑셀 파일을 읽어와 화면에 출력하는 스크립트를 제작하시오.
library(xlsx)
library(rJava)

write.xlsx(df9, 'write_xlsx.xlsx')

Warning message:
"package 'xlsx' was built under R version 3.6.3"Warning message:
"package 'rJava' was built under R version 3.6.3"

In [63]:
read_xlsx<- read.xlsx('./write_xlsx.xlsx', sheetIndex=1, encoding="UTF-8")
read_xlsx

  NA. 이름   R   Python 합계
1 1   아로미  80 60     140
2 2   왕눈이 100 30     130
3 3   투투    40 70     110